.browseWrapper
  .browse.browse-courses
    each course in modelCache.coursesByName
      div
        h2: a(href=course.url)= course.name
        if (course.notetypes)
          ul
            each notetype in course.notetypes
              li: a(href=course.notetypeUrl(notetype))= notetype.name
    div
      a.btn(href='/submit/note/') Upload your notes

.browseWrapper
  .browse.browse-colleges
    div
      h2: a(href='/colleges/essays/') Admissions Essays
      ul
        each college in modelCache.collegesByName.slice(0, 7)
          li: a(href=college.url, title='#{ college.name } Sample Essays') #{ college.shortName } Essays
    div
      ul
        each college in modelCache.collegesByName.slice(7, 15)
          li: a(href=college.url, title='#{ college.name } Sample Essays') #{ college.shortName } Essays
    div
      ul
        each college in modelCache.collegesByName.slice(15, 23)
          li: a(href=college.url, title='#{ college.name } Sample Essays') #{ college.shortName } Essays
    div
      ul
        each college in modelCache.collegesByName.slice(23)
          li: a(href=college.url, title='#{ college.name } Sample Essays') #{ college.shortName } Essays

      a.btn(href='/submit/essay/') Upload your essay