.browseWrapper
  nav.browse.browse-courses
    each course in modelCache.coursesByHits
      div
        h2: a(href=course.url, title=course.shortName)= course.name
        ul
          each notetype in course.notetypes
            li: a(href=course.notetypeUrl(notetype), title='#{ course.name + " " + notetype.name }')= notetype.name

        //- Last course
        if (course === modelCache.coursesByHits[modelCache.coursesByHits.length - 1])
          a.btn(href='/submit/note/')
            i.icon-cloud-upload
            | Submit notes

.browseWrapper
  nav.browse.browse-colleges
    div
      h2: a(href='/colleges/essays/') Admissions Essays
      ul
        each college in modelCache.collegesByName.slice(0, 7)
          li: a(href=college.url) #{ college.shortName } Essays
    div
      ul
        each college in modelCache.collegesByName.slice(7, 15)
          li: a(href=college.url) #{ college.shortName } Essays
    div
      ul
        each college in modelCache.collegesByName.slice(15, 23)
          li: a(href=college.url) #{ college.shortName } Essays
    div
      ul
        each college in modelCache.collegesByName.slice(23)
          li: a(href=college.url) #{ college.shortName } Essays

      a.btn(href='/submit/essay/')
        i.icon-cloud-upload
        | Submit an essay