- var num = 0
each essay in essays
  - num += 1
  .entry
    .heading
      h3
        | !{ num + '. ' }
        a(href=essay.url)= essay.name

      if (essay.college && essay.populated('college'))
        .college
          a(href=essay.college.url, title=essay.college.name)
            img(src='#{ config.cdnOrigin }/images/icon/#{ essay.college.id }.png')

      if (essay.user)
        .author
          a(href=essay.user.getUrl(essay.anon))
            span by #{ essay.user.getName(essay.anon) }
            img(src=essay.user.getGravatar(essay.anon))

    - var body = util.truncate(util.sanitizeHTML(essay.body, ['p']), 300).trim()
    .body
      if (body)
        | !{ body }
      else
        p Preview unavailable, click to read

      a.read-more(href=essay.url)
        | #{ 'Read more ' }
        i.icon-double-angle-right
