footer.footer
  block footer
    .row.quote.hide-phone
      p.randomquote
        q= randomquote.text
        | #{' '}
        span.quote-attribution!= randomquote.author.replace(' ', '&nbsp;')

    .row.links
      .col
        h3 AP Courses
        ul
          each course_ in modelCache.coursesByName
            li: a(href=course_.url) #{course_.name} Notes
          li: a(href='/submit/note/'): strong Submit Notes

      .col
        h3 Admissions
        ul
          li: a(href='/essays/') Top Essays
          li: a(href='/colleges/') Top Universities
          li: a(href='/common-app/', title='Common App Essays') Common App Essays
          li: a(href='/stanford/', title='Stanford Essays') Stanford Essays
          li: a(href='/pro/', title='College Essays That Worked'): strong Essays that Worked
          li: a(href='/essay-review/', title='College Application Essay Review'): strong Premium Essay Editing

      .col
        h3 Site Links
        ul
          li: a(href='/about/') About
          li: a(href='/advertise/') Advertise
          li: a(href='/plagiarism/') Anti-Plagiarism
          li: a(href='/study-guides/') Book Store
          li: a(href='/contact/') Contact
          li: a(href='/stats/') Live Stats
          li: a(href='/open-source/') Open Source
          li: a(href='/testimonials/') Testimonials
          li: a(href='/login/'): strong Log In
          li: a(href='/signup/'): strong Sign Up

      .col.about-this-site.hide-phone
        h3 What is Study Notes?
        ul
          li
            p That's easy &mdash; it's the best way to study for AP classes and AP exams! StudyNotes offers <strong>fast, free study tools for AP students</strong>. Our AP study guides, practice tests, and notes are the best on the web because they're contributed by students and teachers like yourself. Always 100% free.
          p Follow <a href="https://twitter.com/StudyNotesApp">@StudyNotesApp</a> on Twitter!

    .row.fine-print
      small Copyright © 2006-2016 <a href="/">Study Notes, LLC</a>. Made in Stanford, California. <a href="/privacy/">Privacy</a> / <a href="/terms/">Terms</a> / <a href="/photo-credits/">Photo Credits</a>
      small
        if college
          | "#{college.shortName}" is a registered trademark of #{college.name}, which was not involved in the production of, and does not endorse this web site.
          | #{' '}
        | Advanced Placement, AP, and SAT are registered trademarks of the CollegeBoard, which was not involved in the production of, and does not endorse this web site.
