footer.footer
  block footer
    .row.hide-phone
      p.randomquote
        q= randomquote.text
        | #{ ' ' }
        span.quote-attribution!= randomquote.author.replace(' ', '&nbsp;')

    .row
      .col
        h3 AP Courses
        ul
          each course in modelCache.coursesByName
            li: a(href='#{course.url}') #{ course.name } Notes
          li: a(href='/submit/note/'): strong Submit Notes

      .col
        h3 Admissions
        ul
          li: a(href='/essays/') Top Essays
          li: a(href='/colleges/') Top Universities
          li: a(href='/common-app/', title='Common App Essays') Common App Essays
          li: a(href='/stanford/', title='Stanford Admissions Essays') Stanford Essays
          li: a(href='/submit/essay/'): strong Submit an Essay

      .col
        h3 Site Links
        ul
          li: a(href='/about/') About This Site
          li: a(href='/advertise/') Advertise
          li: a(href='/study-guides/') Book Store
          li: a(href='/contact/') Contact Us
          li: a(href='/stats/') Live Stats
          li: a(href='/open-source/') Open Source
          li: a(href='/photo-credits/') Photo Credits
          li: a(href='/plagiarism/') Plagiarism Policy
          li: a(href='/login/'): strong Log In
          li: a(href='/signup/'): strong Sign Up

      .col.about-this-site.hide-phone
        h3 What is Study Notes?
        ul
          li That's easy &mdash; it's the best way to study for AP classes and AP exams! StudyNotes offers <strong>fast, free study tools for AP students</strong>. Our AP study guides, practice tests, and notes are the best on the web because they're contributed by students and teachers like yourself. Always 100% free.
          li Follow <a href="https://twitter.com/StudyNotesApp">@StudyNotesApp</a> on Twitter!

    .row
      small.hide-phone: i With a commitment to quality education tools for students and teachers.
      small Copyright © 2006-2015 <a href="/">Study Notes, LLC</a>. <a href="/privacy/">Privacy</a>. <a href="/terms/">Terms</a>. Made in Stanford, California.
      small
        if (college)
          | "#{ college.shortName }" is a registered trademark of #{ college.name }, which was not involved in the production of, and does not endorse this web site.
          | #{ ' ' }
        | Advanced Placement, AP, and SAT are registered trademarks of the CollegeBoard, which was not involved in the production of, and does not endorse this web site.
