header.header
  block header
    ul.left
      li.home
        a(href='/', title='Go to the front page of StudyNotes', class='home')
          span Study Notes

    //- "off" class gets removed after search bar is positioned in JS
    .search.off
      i.icon-search
      form(action='/search/', method='GET')
        input(autocorrect='off', autocomplete='off', spellcheck='false', name='q', placeholder='Search for AP Courses, Topics, and more...', type='text', value='#{locals.searchTerm}', autofocus=(searchFocus === false ? undefined : 'autofocus'))

    .autocomplete.off
      a.result(href='#')
        img.icon(src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=')
        span.name
        span.desc

    ul.right
      li: a.courses(href='/courses/', title='Browse all AP study notes')
        i.icon-down-open.hide-mobile
        span AP Notes
      li: a.colleges(href='/essays/', title='Browse all admissions essays')
        i.icon-down-open.hide-mobile
        span College Essays

      if (req.user)
        li: a(href='#{req.user.url}', title='Manage your account')
          img.gravatar(src='#{ req.user.gravatar(50, true) }', width=21, height=21).hide-tablet
          i.icon-user.hide-tablet
          span= req.user.firstName
        li: a.logout(href='#logout', title='Logout of StudyNotes')
          i.icon-logout.hide-tablet
          span Logout
      else
        - var signupUrl = '/signup/' + (locals.url ? '?returnTo=' + url : '')
        li: a(href=signupUrl, title='Create a Study Notes Account')
          i.icon-check.hide-tablet
          span Sign Up
        - var loginUrl = '/login/' + (locals.url ? '?returnTo=' + url : '')
        li: a(href=loginUrl, title='Login to Study Notes')
          i.icon-login.hide-tablet
          span Log In
