header.header
  block header
    ul.left
      li.home
        a(href='/', title='Go to the front page of StudyNotes', class='home')
          i.icon-home.hide-phone.hide-tablet
          span Study Notes

    //- "off" class gets removed after search bar is positioned in JS
    .search.off
      i.icon-search
      form(action='/search/', method='GET')
        input(autocorrect='off', autocomplete='off', spellcheck='false', name='q', placeholder='Search for AP Courses and Topics...', type='text', value='#{locals.searchTerm}', autofocus=(searchFocus === false ? undefined : 'autofocus'))

    .autocomplete.off
      a.result(href='#')
        span.name
        span.desc

    ul.right
      li: a(href='/courses/', class='courses', title='Browse all AP study notes')
        i.icon-chevron-down.hide-phone
        span AP Courses
      li.hide-phone
        a(href='/study-guides/', class='study-guides', title='Buy Amazon.com AP Study Guides')
          i.icon-book.hide-tablet
          span Book Store
      //- if (locals.user)
      //-   li: a(href='#{user.url}', title='Manage your account')
      //-     img(src='#{ user.gravatarUrl }')
      //-     i.icon-user.hide-phone.hide-tablet
      //-     span= user.firstName
      //-   li: a(href='#logout', class='logout', title='Logout of StudyNotes')
      //-     i.icon-signout.hide-phone.hide-tablet
      //-     span Logout
      //- else
      //-   li: a(href='/signup', title='Create a StudyNotes Account')
      //-     i.icon-check.hide-phone.hide-tablet
      //-     span Sign Up
      //-   li: a(href='/login', title='Login to StudyNotes')
      //-     i.icon-signin.hide-phone.hide-tablet
      //-     span Log In

.browseWrapper
  ul.browse
    if (locals.courses)
      each course in courses
        li
          h2: a(href='#{course.url}')= course.name
          if (course.notetypes)
            ul
              each notetype in course.notetypes
                li: a(href='/#{course.slug}/#{notetype.slug}/')= notetype.name

if (locals.hero)
  .heroImage