header.header
  block header
    ul.left
      li.home
        a(href='/', title='Go to the front page of StudyNotes', class='home')
          i.icon-home.hide-phone.hide-tablet
          span Study Notes

    //- "off" class gets removed after search bar is positioned in JS
    .search.off
      i.icon-search
      form(action='/search/', method='GET')
        input(autocorrect='off', autocomplete='off', spellcheck='false', name='q', placeholder='Search for AP Courses and Topics...', type='text', value='#{locals.searchTerm}', autofocus=(searchFocus === false ? undefined : 'autofocus'))

    .autocomplete.off
      a.result(href='#')
        span.name
        span.desc

    ul.right
      li: a.courses(href='/courses/', title='Browse all AP study notes')
        i.icon-chevron-down.hide-phone
        span AP Courses
      li: a.colleges(href='/colleges/', title='Browse all college admissions essays')
        i.icon-chevron-down.hide-phone
        span College Essays
      if (locals.currentUser)
        li: a(href='#{currentUser.url}', title='Manage your account')
          img(src='#{ currentUser.gravatarBlank }', width=21, height=21).hide-phone.hide-tablet
          i.icon-user.hide-phone.hide-tablet
          span= currentUser.firstName
        li: a.logout(href='#logout', title='Logout of StudyNotes')
          i.icon-signout.hide-phone.hide-tablet
          span Logout
      else
        li: a(href='/signup', title='Create a StudyNotes Account')
          i.icon-check.hide-phone.hide-tablet
          span Sign Up
        li: a(href='/login', title='Login to StudyNotes')
          i.icon-signin.hide-phone.hide-tablet
          span Log In

.browseWrapper
  ul.browse.browse-courses
    each course in _.flatten(app.cache.courses)
      li
        h2: a(href='#{ course.url }')= course.name
        if (course.notetypes)
          ul
            each notetype in course.notetypes
              li: a(href='/#{ course.slug }/#{ notetype.slug }/')= notetype.name

.browseWrapper
  ul.browse.browse-colleges
    li
      h2: a(href='/colleges') College Admissions Essays
      ul
        each college in _.flatten(app.cache.colleges).slice(0, 7)
          li: a(href='/#{ college.slug }/', title='#{ college.name } Admissions Essays') #{ college.shortName } Essays

if (locals.hero)
  .heroImage
