if (locals.hero)
  div(class="#{ locals.hero ? 'hero' : '' }")
    
    .text
      h1= hero.title
      if (locals.hero.desc)
        h2= hero.desc

    if (locals.hero.tabs)
      ul.tabs.clearfix
        each tab in locals.hero.tabs
          //- TODO: fix the class here to set "on" tabs
          li: a(class='#{tab.slug == ""}', href='#{tab.url}')= tab.name