if (locals.hero)
  style.
    .heroImage {
      background: url("#{ config.cdnOrigin }/images/hero/#{ heroImage }");
      background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center -webkit-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ heroImage }") no-repeat;
      background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center -moz-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ heroImage }") no-repeat;
      background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center -o-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ heroImage }") no-repeat;
      background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center -ms-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ heroImage }") no-repeat;
      background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ heroImage }") no-repeat;
      background-size: auto auto, 100% 100%, cover;
    }
  .hero
    a(href='#{hero.url || "."}')
      if (locals.notetype || locals.note)
        //- notetype and note pages already have a h1 in the content
        if (hero.titleRaw)
          h2.title!= hero.title
        else
          h2.title= hero.title
        if (locals.hero.desc)
          if (hero.descRaw)
            h3.desc!= hero.desc
          else
            h3.desc= hero.desc
      else
        if (hero.titleRaw)
          h1.title!= hero.title
        else
          h1.title= hero.title
        if (locals.hero.desc)
          if (hero.descRaw)
            h2.desc!= hero.desc
          else
            h2.desc= hero.desc

  if (hero.tabs && hero.tabs.length)
    ul.tabs.clearfix
      each tab in hero.tabs
        li(class='#{locals.notetype && tab.slug == notetype.slug ? "on" : ""}')
          a(href='#{tab.url}')= tab.name