if (locals.hero)
  .hero
    .text
      if (locals.hero.url)
        a(href='#{hero.url}')
          h2!= hero.title
          if (locals.hero.desc)
            h3!= hero.desc
      else
        h2!= hero.title
        if (locals.hero.desc)
          h3!= hero.desc

    if (locals.hero.tabs)
      ul.tabs.clearfix
        each tab in hero.tabs
          li(class='#{locals.notetype && tab.slug == notetype.slug ? "on" : ""}')
            a(href='#{tab.url}')= tab.name

    if (locals.course)
      include countdown