!!! 5
block vars
html(class='no-js #{layout}', lang='en')
  block head
    if (!locals.offline)
      | <script>window.PeerCDN = { id: 'c01ceb50-1047-11e3-8a09-2585b02d00c1' }</script>
      | <script id="peercdn">(function(a,b,f,g){var c=/(; |#|&|^)peercdn=(\d)/.exec(location.hash+"; "+a.cookie);if(!c||!c[2]||+c[2]){var d=a.createElement("script"),e=function(){d.src=g;var b=a.getElementsByTagName("script"),c=b[0];c.parentNode.insertBefore(d,1<b.length?c.nextSibling:c)};f()?(a.write('<plaintext style="display:none">'),setTimeout(function(){b.PeerCDN||(b.PeerCDN={});b.PeerCDN.cap=!0;d.onerror=function(){a.cookie="peercdn=0; expires="+(new Date(Date.now()+18E5)).toGMTString()+"; path=/";b.location=b.location.href};e()},0)):e()}})(document,window,function(){var a=/webkit|msie\s10|(firefox)[\/\s](\d+)|(opera)[\s\S]*version[\/\s](\d+)|3ds/i.exec(navigator.userAgent);return!a||a[1]&&4>+a[2]||a[3]&&11>+a[4]?!1:!0},"//cdn.peercdn.com/instant.js");</script>

    link(rel='stylesheet', href='/out/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/out/css/main-#{locals.CSS_MD5}.css')

    - if (locals.forceTitle)
      - pageTitle = locals.forceTitle
    - else if (locals.title)
      - pageTitle = title + ' - Study Notes'
    - else
      - pageTitle = 'Study Notes - Free AP Notes'
    title= pageTitle
    meta(property='og:title', content='#{pageTitle}')

    meta(name='robots', content='index, follow')

    if (!locals.desc)
      - desc = '100% Free AP Test Prep website that offers study material to high school students seeking to prepare for AP exams. Enterprising students use this website to learn AP class material, study for class quizzes and tests, and to brush up on course material before the big exam day.'
    meta(name='description', content='#{desc}')
    meta(property='og:description', content='#{desc}')

    if (!locals.keywords)
      - keywords = 'ap study notes, ap, advanced placement, ap notes, AP US History, ap u.s. history, apush, american pageant, the american pageant, AP US Government and Politics, ap government, ap gov, AP World History, AP English, AP Psychology, AP Economics, AP Calculus, AP Statistics, AP Physics, AP Biology, AP Environmental Science, AP Chemistry, course guides, chapter outlines, chapter notes, topic outlines, vocabulary words, key terms, important historical documents, ap practice quizzes, ap practice tests, ap cram sheets, course notes'
    meta(name='keywords', content='#{keywords}')

    meta(property='og:type', content='website')
    meta(property='og:image', content='#{config.siteOrigin}/images/S.png')

    //- meta(property='article:author', content='')
    meta(property='fb:admins', content='1347524341')
    meta(property='fb:app_id', content='466476846723021')

    if (locals.url)
      meta(property='og:url', content='#{locals.url}')
      link(rel='canonical', href='#{locals.url}')

    //- TODO: responsive layout
    //- meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- TODO: add rss support
    //- <link rel='alternate' type='application/atom+xml' title=' href=' />

    //- TODO: add search service?, see: https://github.com/opensearch.xml
    //- <link rel='search' type='application/opensearchdescription+xml' href='/opensearch.xml' title='StudyNotes' />

    //- TODO: add print stylesheet. should this be a media query in main file?
    //- link(rel='stylesheet', href='/stylesheets/print.css', media='print')

    script(src='/js/lib/modernizr.custom.js')

    if (!locals.offline)
      | <script type="text/javascript" src="//use.typekit.net/djj4afz.js"></script>
      | <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  body(class='#{ locals.cls }')

    //- For Facebook SDK
    #fb-root

    block body

    block scripts
      script(src='/out/js/main-#{locals.JS_MD5}.js')

      //- Countdown script
      if (locals.course)
        | <script>var countdownDate = new Date('#{course.examDate}')</script>
        script.
          var countdown = new Countdown('.countdown', countdownDate)

      //- Adsense (responsive ads) (async)
      if (locals.ads && config.isProd)
        script(async, src='http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

      //- Twitter SDK (async)
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      //- User Voice Feedback (async)
      script.
        (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/oZKwjGI98y7HmJ5jbPuO7w.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()

        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
          mode: 'feedback',
          primary_color: '#cc6d00',
          link_color: '#007dbf',
          forum_id: 188284,
          tab_label: 'Feedback',
          tab_color: '#cc6d00',
          tab_position: 'middle-right',
          tab_inverted: false
        }]);

      //- Quantcast (async)
      script.
        var _qevents = _qevents || [];

        (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
        qacct:"p-69FZJwoXOxhpY"
        });
      noscript
        div(style='display:none;')
          img(src='//pixel.quantserve.com/pixel/p-69FZJwoXOxhpY.gif', height='1', width='1', alt='Quantcast', style='border: none;')

      //- Google Analytics (async)
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3898076-4']);
        _gaq.push(['_setDomainName', 'apstudynotes.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      //- StatCounter (blocking)
      script.
        var sc_project=3533945;
        var sc_invisible=1;
        var sc_security="1577ef81";
      script(src='http://www.statcounter.com/counter/counter.js')
      noscript
        div.statcounter
          img.statcounter(src='http://c.statcounter.com/3533945/0/1577ef81/1/', alt='')
