doctype html
block vars
html(class='studynotes #{layout}', lang='en')
  head
    meta(charset='utf-8')

    link(rel='dns-prefetch', href='//use.typekit.net')
    link(rel='dns-prefetch', href='//pagead2.googlesyndication.com')
    link(rel='dns-prefetch', href='//platform.twitter.com')
    link(rel='dns-prefetch', href='//cdn.api.twitter.com')
    link(rel='dns-prefetch', href='//p.twitter.com')
    link(rel='dns-prefetch', href='//www.facebook.com')
    link(rel='dns-prefetch', href='//widget.uservoice.com')
    link(rel='dns-prefetch', href='http://edge.quantserve.com')
    link(rel='dns-prefetch', href='http://pixel.quantserve.com')
    link(rel='dns-prefetch', href='http://www.google-analytics.com')
    link(rel='dns-prefetch', href='http://www.statcounter.com')
    link(rel='dns-prefetch', href='http://c.statcounter.com')

    - if (locals.forceTitle)
      - pageTitle = title
    - else if (locals.title)
      - pageTitle = title + ' - Study Notes'
    - else
      - pageTitle = 'Study Notes - Free AP Notes'
    title= pageTitle
    meta(property='og:title', content='#{pageTitle}')

    meta(name='robots', content='index, follow')

    if (!locals.desc)
      - desc = '100% Free AP Test Prep website that offers study material to high school students seeking to prepare for AP exams. Enterprising students use this website to learn AP class material, study for class quizzes and tests, and to brush up on course material before the big exam day.'
    meta(name='description', content='#{desc}')
    meta(property='og:description', content='#{desc}')

    if (!locals.keywords)
      - keywords = 'ap study notes, ap, advanced placement, ap notes, AP US History, ap u.s. history, apush, american pageant, the american pageant, AP US Government and Politics, ap government, ap gov, AP World History, AP English, AP Psychology, AP Economics, AP Calculus, AP Statistics, AP Physics, AP Biology, AP Environmental Science, AP Chemistry, course guides, chapter outlines, chapter notes, topic outlines, vocabulary words, key terms, important historical documents, ap practice quizzes, ap practice tests, ap cram sheets, course notes'
    meta(name='keywords', content='#{keywords}')

    meta(property='og:type', content='website')
    if (locals.hero && hero.image)
      meta(property='og:image', content='#{ config.cdnOrigin }/images/hero/#{ hero.image }')
    else
      meta(property='og:image', content='#{ config.cdnOrigin }/images/S.png')

    //- TODO: markup the author
    //- meta(property='article:author', content='')

    //- TODO: add google plus author information

    //- TODO: Nicer, hi-res favicon
    //- <link rel="shortcut icon" href="/icon.png">
    //- <link rel="apple-touch-icon-precomposed" href="/icon.png">

    meta(property='fb:admins', content='1347524341')
    meta(property='fb:app_id', content='466476846723021')

    if (locals.url)
      meta(property='og:url', content='#{locals.url}')
      link(rel='canonical', href='#{locals.url}')

    //- TODO: responsive layout
    //- meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- TODO: add rss support
    //- <link rel='alternate' type='application/atom+xml' title=' href=' />

    //- TODO: add search service?, see: https://github.com/opensearch.xml
    //- <link rel='search' type='application/opensearchdescription+xml' href='/opensearch.xml' title='StudyNotes' />

    //- TODO: add print stylesheet. should this be a media query in main file?
    //- link(rel='stylesheet', href='/stylesheets/print.css', media='print')

    <!--[if ! lte IE 8]><!-->
    link(rel='stylesheet', href='#{ config.cdnOrigin }/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='#{ config.cdnOrigin }/select2/select2.css')
    link(rel='stylesheet', href='#{ config.cdnOrigin }#{ config.cssPath }')
    <!--<![endif]-->

    if (!locals.offline)
      //- script.
      //-   (function() {
      //-     var config = {
      //-       kitId: 'djj4afz',
      //-       scriptTimeout: 3000
      //-     };
      //-     var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      //-   })();

      | <script type="text/javascript" src="//use.typekit.net/djj4afz.js"></script>
      | <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    //- Adsense styles must be inline
    style.
      .studynotes-in-content {
        width: 336px;
        height: 280px;
      }
      @media (max-width: 799px) {
        .studynotes-in-content {
          width: 336px;
          height: 280px;
        }
      }
      @media (min-width: 800px) and (max-width: 1099px) {
        .studynotes-in-content {
          width: 336px;
          height: 280px;
        }
      }
      @media (min-width: 1100px) {
        .studynotes-in-content {
          width: 336px;
          height: 280px;
        }
      }
      .studynotes-sidebar {
        width: 336px;
        height: 280px;
      }
      @media (max-width: 799px) {
        .studynotes-sidebar {
          width: 336px;
          height: 280px;
        }
      }
      @media (min-width: 800px) and (max-width: 1099px) {
        .studynotes-sidebar {
          width: 160px;
          height: 600px;
        }
      }
      @media (min-width: 1100px) {
        .studynotes-sidebar {
          width: 336px;
          height: 280px;
        }
      }

    if (locals.hero && hero.image)
      style(id='heroStyle').
        .heroImage {
          background: url("#{ config.cdnOrigin }/images/hero/#{ hero.image }");
          background-size: cover;

          background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center -webkit-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ hero.image }") no-repeat;
          background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, -ms-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.05)), center center url("#{ config.cdnOrigin }/images/hero/#{ hero.image }") no-repeat;
          background: bottom left url("#{ config.cdnOrigin }/images/hero-body-mask.png") repeat-x, center center linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.05)) repeat, center center url("#{ config.cdnOrigin }/images/hero/#{ hero.image }") no-repeat;

          background-size: auto auto, 100% 100%, cover;
        }

      <!--[if lte IE 8]>
      link(rel='stylesheet', href='#{ config.cdnOrigin }/css/ie8.css')
      <![endif]-->
      <!--[if IE 9]>
      link(rel='stylesheet', href='#{ config.cdnOrigin }/css/ie9.css')
      <![endif]-->

    block stylesheets

    block head

  body(class='#{ locals.cls }')
    //- For Facebook SDK
    #fb-root

    block body

    if (locals.notify)
      each msg in locals.notify
        .notify.notify-success(style='display: none')= msg
    each msg in locals.req.flash('success')
      .notify.notify-success(style='display: none')= msg

    input(type='hidden', name='_csrf', value=csrf)
    //- Google+ verification
    a(href='https://plus.google.com/106052504873007659547', rel='publisher', style='display: none') Google+

    if (locals.course)
      | <script>window.countdownDate = new Date('#{course.examDate}')</script>
    script.
      var CKEDITOR_BASEPATH = '#{ config.cdnOrigin }/ckeditor/'
    script(async, src='#{ config.cdnOrigin }#{ config.jsPath }')

    block scripts

    if (!locals.offline)
      //- Adsense (responsive ads) (async)
      if (config.isProd)
        script(async, src='http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

      //- Twitter SDK (async)
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      //- Facebook SDK (async)
      //- Calls `window.fbAsyncInit` when ready.
      //- script.
      //-   window.fbAsyncInit = function () {
      //-     FB.init({ // init the SDK
      //-       appId      : '466476846723021', // App ID
      //-       channelUrl : '//www.apstudynotes.org/channel.html', // Channel File for x-domain communication
      //-       status     : true, // check the login status upon init?
      //-       cookie     : true, // set sessions cookies to allow your server to access the session?
      //-       xfbml      : true  // parse XFBML tags on this page?
      //-     })
      //-   }
      //-   ;(function(d, s, id){
      //-      var js, fjs = d.getElementsByTagName(s)[0];
      //-      if (d.getElementById(id)) {return;}
      //-      js = d.createElement(s); js.id = id;
      //-      js.src = "//connect.facebook.net/en_US/all.js";
      //-      fjs.parentNode.insertBefore(js, fjs);
      //-    }(document, 'script', 'facebook-jssdk'));

      //- Google +1
      script.
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

      //- Quantcast (async)
      script.
        var _qevents = _qevents || [];

        (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
        qacct:"p-69FZJwoXOxhpY"
        });
      noscript
        div(style='display:none;')
          img(src='//pixel.quantserve.com/pixel/p-69FZJwoXOxhpY.gif', height='1', width='1', alt='Quantcast', style='border: none;')

      //- Google Analytics (async)
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3898076-4']);
        _gaq.push(['_setDomainName', 'apstudynotes.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      //- StatCounter (blocking)
      script.
        var sc_project=3533945;
        var sc_invisible=1;
        var sc_security="1577ef81";
      script(src='http://www.statcounter.com/counter/counter.js')
      noscript
        div.statcounter
          img.statcounter(src='http://c.statcounter.com/3533945/0/1577ef81/1/', alt='')
