doctype html
block vars
html(class='studynotes #{layout}', lang='en')
  head
    meta(charset='utf-8')

    link(rel='preconnect', href='https://cdn.apstudynotes.org')
    link(rel='preconnect', href='https://use.typekit.net')
    link(rel='preconnect', href='https://pagead2.googlesyndication.com')
    link(rel='preconnect', href='https://www.gravatar.com')
    link(rel='preconnect', href='https://widget.uservoice.com')

    block preconnect

    if locals.forceTitle
      - pageTitle = title
    else if locals.title
      - pageTitle = title + ' - Study Notes'
    else
      - pageTitle = 'Study Notes - Free AP Notes'
    title= pageTitle
    meta(property='og:title', content='#{pageTitle}')

    meta(name='robots', content='index, follow')

    if !locals.desc
      - desc = '100% Free AP Test Prep website that offers study material to high school students seeking to prepare for AP exams. Enterprising students use this website to learn AP class material, study for class quizzes and tests, and to brush up on course material before the big exam day.'
    meta(name='description', content='#{desc}')
    meta(property='og:description', content='#{desc}')

    if !locals.keywords
      - keywords = 'ap study notes, ap, advanced placement, ap notes, AP US History, ap u.s. history, apush, american pageant, the american pageant, AP US Government and Politics, ap government, ap gov, AP World History, AP English, AP Psychology, AP Economics, AP Calculus, AP Statistics, AP Physics, AP Biology, AP Environmental Science, AP Chemistry, course guides, chapter outlines, chapter notes, topic outlines, vocabulary words, key terms, important historical documents, ap practice quizzes, ap practice tests, ap cram sheets, course notes'
    meta(name='keywords', content='#{keywords}')

    meta(property='og:type', content='website')
    if locals.hero && hero.image
      meta(property='og:image', content=config.cdnOrigin + '/images/hero/#{ hero.image }')
    else
      meta(property='og:image', content=config.cdnOrigin + '/images/logo-birdy.png')

    //- TODO: markup the author
    //- meta(property='article:author', content='')

    //- Support homescreen launch experience on mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='mobile-web-app-capable', content='yes')

    link(rel='apple-touch-icon', sizes='57x57', href=config.cdnOrigin + '/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href=config.cdnOrigin + '/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href=config.cdnOrigin + '/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href=config.cdnOrigin + '/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href=config.cdnOrigin + '/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href=config.cdnOrigin + '/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href=config.cdnOrigin + '/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href=config.cdnOrigin + '/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href=config.cdnOrigin + '/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href=config.cdnOrigin + '/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href=config.cdnOrigin + '/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href=config.cdnOrigin + '/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href=config.cdnOrigin + '/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href=config.cdnOrigin + '/manifest.json')
    link(rel='mask-icon', href=config.cdnOrigin + '/mask-icon.svg', color='#00C6FF')
    meta(name='apple-mobile-web-app-title', content='Study Notes')
    meta(name='application-name', content='Study Notes')
    meta(name='msapplication-TileColor', content='#ffc40d')
    meta(name='msapplication-TileImage', content=config.cdnOrigin + '/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

    meta(property='fb:admins', content='1347524341')
    meta(property='fb:app_id', content='466476846723021')

    if locals.url
      meta(property='og:url', content=locals.url)
      link(rel='canonical', href=locals.url)

    link(rel='search', href='/opensearch.xml', title='Study Notes', type='application/opensearchdescription+xml')

    if editorAssets
      link(rel='stylesheet', href=config.cdnOrigin + '/select2/select2.min.css')

    <!--[if ! lte IE 8]><!-->
    if config.isProd
      style.
        !{ config.inline.css }
    else
      link(rel='stylesheet', href=config.cdnOrigin + config.cssPath)
    <!--<![endif]-->

    if locals.hero && hero.image
      style(id='heroStyle').
        .heroImage {
          background: url("#{ config.cdnOrigin }/images/hero/#{ hero.image }");
          background-size: cover;
          background: bottom left url("#{ config.isProd ? config.inline.heroBodyMask : config.cdnOrigin + '/images/hero-body-mask.png' }") repeat-x, center center url("#{ config.cdnOrigin }/images/hero/#{ hero.image }") no-repeat;
          background-size: 50px 50px, cover;
        }

    block style

    <!--[if lte IE 9]>
    link(rel='stylesheet', href=config.cdnOrigin + '/css/ie9.css')
    <![endif]-->
    <!--[if lte IE 8]>
    link(rel='stylesheet', href=config.cdnOrigin + '/css/ie8.css')
    <![endif]-->

    //- TypeKit
    script(async, src='//use.typekit.net/djj4afz.js', onload='Typekit.load()')

    //- Detect mobile browsers. Inlined to avoid a reflow by setting class later
    //- in page-load process.
    script.
      (function () {
        if ((/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent)) {
          window.isMobile = true
          var html = document.getElementsByTagName("html")[0]
          html.className = html.className + ' isMobile'
        }
      })()

    //- Add .ie10 and .ie11 classes to <html>, if this is IE
    script.
      if (/*@cc_on!@*/false && document.documentMode === 10
          || document.documentMode === 11) {
        document.documentElement.className+=' ie' + document.documentMode;
      }

    block head

  body(class='#{ locals.cls }')
    block body

    each msg in locals.req.flash('success')
      .notify.notify-success(style='display: none')= msg
    each msg in locals.req.flash('info')
      .notify.notify-info(style='display: none')= msg
    each msg in locals.req.flash('error')
      .notify.notify-error(style='display: none')= msg

    input(type='hidden', name='_csrf', value=csrf)

    //- Google+ verification
    a(href='https://plus.google.com/106052504873007659547', rel='publisher', style='display: none') Google+

    if locals.course
      script.
        window.countdownDate = new Date('#{course.examDate}')

    if config.isProd
      //- Google Analytics
      script.
        window.ga = window.ga || function () {
          (ga.q = ga.q || []).push(arguments)
        }
        ga.l = +new Date
        ga('create', 'UA-3898076-4', 'auto')
        ga('send', 'pageview')
      script(async, src='//www.google-analytics.com/analytics.js')

      //- Facebook Ad Pixel
      |  <!-- Facebook Pixel Code -->
      |  <script>
      |  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      |  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      |  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      |  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      |  document,'script','//connect.facebook.net/en_US/fbevents.js');
      |  fbq('init', '1696013757293784');
      |  fbq('track', "PageView");</script>
      |  <noscript><img height="1" width="1" style="display:none"
      |  src="https://www.facebook.com/tr?id=1696013757293784&ev=PageView&noscript=1"
      |  /></noscript>
      |  <!-- End Facebook Pixel Code -->
    else
      script.
        window.ga = console.log.bind(console, 'ga')
        window.fbq = console.log.bind(console, 'fbq')

    if editorAssets
      script(src=config.cdnOrigin + config.jsPath)
      script.
        window.CKEDITOR_BASEPATH = '#{ config.cdnOrigin }/ckeditor/'
      script(src=config.cdnOrigin + '/ckeditor/ckeditor.js')
    else
      script(async, src=config.cdnOrigin + config.jsPath)

    block scripts

    if config.isProd
      //- Adsense (responsive ads)
      script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

      //- Quantcast
      script.
        var _qevents = _qevents || []
        _qevents.push({ qacct: 'p-69FZJwoXOxhpY' })
      script(async, src='//secure.quantserve.com/quant.js')
      noscript
        img(height='1', width='1', style='display:none', src='//pixel.quantserve.com/pixel/p-69FZJwoXOxhpY.gif')

      //- StatCounter
      script.
        var sc_project = 3533945
        var sc_invisible = 1
        var sc_security = '1577ef81'
        var sc_https = 1
      script(async, src='//secure.statcounter.com/counter/counter.js')
      noscript
        img(height='1', width='1', style='display:none', src='//c.statcounter.com/3533945/0/1577ef81/1/')

      //- Uservoice
      script.
        var UserVoice = UserVoice || []
        UserVoice.push(['set', {
          accent_color: '#448dd6',
          trigger_color: 'white',
          trigger_background_color: 'rgba(46, 49, 51, 0.6)'
        }])
        UserVoice.push(['addTrigger', {
          mode: 'satisfaction',
          trigger_position: 'bottom-right'
        }]);
      script(async, src='//widget.uservoice.com/oZKwjGI98y7HmJ5jbPuO7w.js')
