extends layouts/main-sidebar

append sidebar
  include includes/ads/adsense-rect
  h3 #{ college.shortName } Stats
  p #{ college.acceptRate }% acceptance rate
  p #{ util.addCommas(college.enrollment) } enrolled students
  p #{ college.location }
  p $#{ util.addCommas(college.tuition) } tuition &amp; fees
  p ##{ college.rank } rank in US News &amp; World Report
  p <strong>#{ util.addCommas(college.hits) } people</strong> have viewed this page.
  include includes/ads/adsense-rect

block content
  include includes/toolbar

  if (locals.essays && locals.essays.length)
    ul.listing
      each essay in essays
        li: a(href='#{essay.url}')= essay.name
  else
    h2 No #{ college.shortName } essays have been posted yet! Represent your college, <a href="/submit/essay/">share your essay</a>!