extends layouts/main-sidebar

append sidebar
  include includes/ads/adsense-rect
  h3 #{ college.shortName } Stats
  ul
    li #{ college.acceptRate }% acceptance rate
    li #{ util.addCommas(college.enrollment) } enrolled students
    li $#{ util.addCommas(college.tuition) } tuition &amp; fees
    li ##{ college.rank } in US News &amp; World Report

  h3 Located in #{ college.location }
  .map
    img(src='http://maps.googleapis.com/maps/api/staticmap?center=#{ encodeURIComponent(college.location) }&zoom=8&size=336x200&maptype=roadmap&sensor=false')

  include includes/ads/adsense-rect

  h3 Page Stats
  ul
    li #{ util.addCommas(college.hits) } views


block content
  include includes/toolbar

  if (locals.essays && locals.essays.length)
    ul.listing
      each essay in essays
        li: a(href='#{essay.url}')= essay.name + ' - ' + essay.userId.name
  else
    h2 No #{ college.shortName } essays have been posted yet! Represent your college, <a href="/submit/essay/">share your essay</a>!