extends layouts/main-sidebar


block content
  if (college.desc)
    h2 About #{ college.name }
    .expandify
      | !{ college.desc }

  if (locals.essays && locals.essays.length)
    h2 Top #{ essays.length } #{ college.shortName } Essays
    - var num = 1
    each essay in essays
      .entry
        .heading.clearfix
          h3
            | !{ num + '. ' }
            a(href=essay.url)= essay.name
          .author
            a(href=essay.userId.url)
              span by #{ essay.userId.name }
              img(src=essay.userId.gravatar)
        .expandify.no-btn
          //- TODO: shorten, while preserving HTML
          .body
            | !{ essay.body }

      - num += 1

  else
    h3 No #{ college.shortName } essays have been posted yet! Represent your college, <a href="/submit/essay/">share your essay</a>!

  include includes/toolbar

append sidebar
  include includes/ads/adsense-rect
  h2 #{ college.shortName } Stats
  ul
    li #{ college.acceptRate }% acceptance rate
    li #{ util.addCommas(college.enrollment) } enrolled students
    li $#{ util.addCommas(college.tuition) } tuition &amp; fees
    li ##{ college.rank } in US News &amp; World Report

  h2 Located in #{ college.location }
  .map
    img(src='http://maps.googleapis.com/maps/api/staticmap?center=#{ encodeURIComponent(college.location) }&zoom=8&size=336x200&maptype=roadmap&sensor=false')

  h2 Page Stats
  ul
    li #{ util.addCommas(college.hits) } views
    li.online

  include includes/ads/adsense-rect