extends layouts/main-sidebar

block content
  include includes/breadcrumbs

  h1 About #{ college.name }
  include includes/toolbar

  h2 #{ college.shortName } Stats
  ul
    li #{ college.acceptRate }% acceptance rate
    li #{ util.addCommas(college.enrollment) } enrolled students
    li $#{ util.addCommas(college.tuition) } tuition &amp; fees
    li ##{ college.rank } in US News &amp; World Report

  h2 #{ college.shortName } is Located in #{ college.location }
  .map
    a(href='http://maps.google.com/?q=#{ college.name }')
      img(src='http://maps.googleapis.com/maps/api/staticmap?center=#{ encodeURIComponent(college.location) }&zoom=6&size=640x250&scale=2&maptype=roadmap&sensor=false&visual_refresh=true')

  h2 #{ college.shortName } Facts — you should know this stuff!
  | !{ college.desc }


append sidebar
  include ads/adsense-rect

  h2 Top #{ college.shortName } Essays
  ul.more
    each essay in essays
      li: a(href=essay.url)= essay.name

  include ads/adsense-rect

  h2 Page Stats
  ul
    li #{ util.addCommas(college.hits) } views
    li.online