extends layouts/main-sidebar

append sidebar
  include includes/ads/adsense-rect
  include includes/countdown
  include includes/ads/adsense-rect
  h2 #{ course.name } Stats
  ul
    li Exam Date: #{ moment(course.examDate).format("MMMM Do, YYYY") }
    li #{ util.addCommas(course.hits) } views
    li.online

block content
  h1 #{course.name} Notes
  include includes/toolbar

  include includes/ads/adsense-inline-rect

  if (course.notetypes)
    each notetype in course.notetypes
      h2: a(href=course.notetypeUrl(notetype))= notetype.name

      - var desc = (notetype.shortDesc || notetype.desc).replace(/COURSE_SHORTNAME/g, course.shortName).replace(/COURSE_TEXTBOOK/g, course.textbook).replace(/COURSE/g, course.name)
      p.desc!= desc
