extends layouts/main-sidebar

block content
  include includes/toolbar

  if (course.shortName === 'APUSH')
    .da.pull-right
      a(href='http://instaedu.go2cloud.org/aff_c?offer_id=8&aff_id=1040&url_id=446')
        img(src='#{ config.cdnOrigin }/images/instaedu-us-history.jpg')
  else
    include ads/adsense-in-content


  if (course.notetypes)
    each notetype in course.notetypes
      h2: a(href=course.notetypeUrl(notetype))= notetype.name

      - var desc = (notetype.shortDesc || notetype.desc).replace(/COURSE_SHORTNAME/g, course.shortName).replace(/COURSE_TEXTBOOK/g, course.textbook).replace(/COURSE/g, course.name)
      p.desc!= desc

append sidebar
  include ads/adsense-sidebar
  include includes/countdown
  include ads/adsense-sidebar
  h2 #{ course.shortName } Stats
  ul
    li Exam Date: #{ moment(course.examDate).format("MMMM Do, YYYY") }
    li #{ util.addCommas(course.hits) } views
    li.online
