extends layouts/main-sidebar

append sidebar
  .author
    a(href=user.url)
      img(src=user.gravatar)
      h2.name= user.name
    if (user.collegeMajor)
      h3.accepted= user.collegeMajor
    if (user.collegeYear && user.collegeId)
      - var year = user.collegeYear
      h3.accepted
        | #{ user.hasGraduated ? 'Attended ' : 'Attending ' }
        a(href=user.collegeId.url)= user.collegeId.shortName
        | #{ ' \'' + user.collegeYear.toString().substring(2) }
    if (!user.collegeId || user.collegeId.id !== college.id)
      h3.accepted Accepted at <a href='#{ college.url }'>#{ college.shortName }</a>

  if (essay.admitsphere)
    h3 Visit AdmitSphere
    p This essay comes from <a href="http://www.admitsphere.tk/">AdmitSphere</a> who kindly agreed to republish it here.

  include includes/ads/adsense-rect

  h2 Essay Stats
  ul
    li Posted <span title='#{ moment(essay.createDate).format("MMMM Do, YYYY, h:mm:ss a") }'>#{ moment(essay.createDate).fromNow() }</span>
    li #{ util.addCommas(essay.hits) } views
    li Averaging #{ util.addCommas(util.hitsPerDay(essay.hits, essay.createDate)) } views per day
    li.online

  //- include includes/relatedessays

append toolbar
  if next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →
    .navigate-msg Use ← → keys to navigate

block content
  include includes/breadcrumbs
  h1= essay.name

  include includes/toolbar

  if essay.prompt
    .prompt !{essay.prompt}

  .body !{essay.body}

  hr

  p.keepStudying Keep&nbsp;reading more #{ college.shortName } admissions essays — can't be too prepared!

  .noteNav.clearfix
    if prev
      a.btn.prev(href='#{prev.url}', title='Previous: #{prev.name}') ← Prev

    if next
      a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →

  hr

  #disqus_thread
  script.
    var disqus_shortname = 'studynotesapp';
    var disqus_identifier = '#{ essay.slug }';
    var disqus_title = '#{ title }';
    var disqus_url = '#{ url }';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  //- hr
  //- h2 On copying
  //- p It's a bad idea.

  h2 How to cite this essay (with MLA)
  .cite #{ user.mlaName }. "#{essay.name}" StudyNotes.org. StudyNotes, Inc., #{moment(essay.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{essay.absoluteUrl}&gt;.
