extends layouts/main-sidebar

append sidebar
  .author
    a(href=user.url, title=user.name)
      img(src=user.gravatar)
      h2.name= user.name
    if (user.collegeYear && user.collegeId)
      - var year = user.collegeYear
      h3.accepted
        | #{ user.hasGraduated ? 'Attended ' : 'Attending ' }
        a(href=user.collegeId.url)= user.collegeId.shortName
        | #{ ' \'' + user.collegeYear.toString().substring(2) }
    if (user.collegeMajor)
      h3.accepted= user.collegeMajor
    if (!user.collegeId || user.collegeId.id !== college.id)
      h3.accepted Accepted at <a href='#{ college.url }'>#{ college.shortName }</a>

  include includes/ads/adsense-rect

  h3 Essay Stats
  ul
    li #{ util.addCommas(essay.hits) } views
    li Posted <span title='#{ moment(essay.createDate).format("MMMM Do, YYYY, h:mm:ss a") }'>#{ moment(essay.createDate).fromNow() }</span>
    li Averaging #{ util.addCommas(util.hitsPerDay(essay.hits, essay.createDate)) } views per day
  //- include includes/relatedessays

append toolbar
  if next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →
    .navigate-msg Use ← → keys to navigate

block content
  include includes/breadcrumbs
  h1= essay.name

  include includes/toolbar

  if essay.prompt
    .prompt !{essay.prompt}

  .body !{essay.body}

  p.keepStudying Keep&nbsp;reading more #{ college.shortName } admissions essays — can't be too prepared!

  .noteNav.clearfix
    if prev
      a.btn.prev(href='#{prev.url}', title='Previous: #{prev.name}') ← Prev

    if next
      a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →

  //- hr
  //- h2 On copying
  //- p It's a bad idea.

  hr
  h2 How to cite this essay (with MLA)
  .cite #{ user.mlaName }. "#{essay.name}" StudyNotes.org. StudyNotes, Inc., #{moment(essay.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{essay.absoluteUrl}&gt;.
