extends layouts/main-sidebar

block content
  h2 Showing #{ essays.length } Essays from #{ collegeCount } Universities
  include includes/toolbar

  include includes/essay-list

append sidebar
  include ads/adsense-rect

  .center
    a.btn.large(href='/submit/essay/')
      i.icon-cloud-upload
      | Submit an essay

  h2 Top 25 Colleges
  ul.more
    each college in modelCache.collegesByRank
      li: a(href=college.url)= college.name

  include ads/adsense-rect

  h2 Essay Database Stats
  ul
    li #{ util.addCommas(essays.length) } essays for #{ collegeCount } <a href='/colleges/'>universities</a>
    li.online