extends layouts/main-sidebar

block sidebar
  .author
    a(href=user.getUrl(essay.anon))
      if essay.anon
        img(src=config.cdnOrigin + '/images/anon.jpg')
      else
        img(src=user.gravatar(400))
      h2.name= user.getName(essay.anon)
    if (user.collegeMajor)
      h3.accepted= user.collegeMajor
    if (!user.college || user.college.id !== college.id)
      h3.accepted Accepted at <a href='#{ college.url }'>#{ college.shortName }</a>
    if (user.college && user.collegeYear)
      h3.accepted
        | #{ user.hasGraduated ? 'Graduated ' : 'Attending ' }
        a(href=user.college.url)= user.college.shortName
        | #{ ' \'' + user.collegeYear.toString().substring(2) }

  if (essay.admitsphere)
    p This essay comes from AdmitSphere who kindly allowed it to be republished here.

  include ads/adsense-sidebar

  h2 More #{ college.shortName } Essays
  ul.more
    each essay in essays
      li: a(href=essay.url)= essay.name

  include ads/adsense-sidebar

  ul
    li #{ util.addCommas(essay.hits) } views (#{ util.addCommas(util.hitsPerDay(essay.hits, essay.createDate)) } views per day)
    li.online
    li Posted <span title='#{ moment(essay.createDate).format("MMMM Do, YYYY, h:mm:ss a") }'>#{ moment(essay.createDate).fromNow() }</span>


append toolbar
  if req.user && req.user.admin
    a.btn.red.edit(href='?edit=1') Edit
  if locals.next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next<span class="hide-tight"> Essay</span>
  if !locals.next && locals.prev
    a.btn.prev(href='#{prev.url}', title='Prev: #{prev.name}') Prev<span class="hide-tight"> Essay</span>
    .navigate-msg Last note in this set

block content
  include includes/breadcrumbs
  h1= essay.name

  include includes/toolbar

  if (!blur)
    include ads/adsense-in-content

  if essay.prompt
    .prompt <strong>Prompt: </strong> !{essay.prompt}
    hr

  if (blur)
    .body
      .subscribe-on-blur.unblur
        h2 You must pay $#{ (config.proPrice / 100) } to read this essay.
        p
          form(action='/pro', method='POST')
            input(type='hidden', name='_csrf', value=csrf)
            input(type='hidden', name='referringEssay', value=essay.id)
            script(src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key=stripe.publishable,
              data-amount=config.proPrice,
              data-description='Study Notes Pro (one-time payment)',
              data-image='#{ config.cdnOrigin }/images/acorn.png',
              data-description='100+ Top College Essays',
              data-email=(req.user && req.user.email)
            )
        h4 Your <strong>one-time payment of $#{ (config.proPrice / 100) }</strong> also gives you <strong>lifetime access to #{ essayCount } essays</strong> that worked at universities like Stanford, Harvard, and MIT.
        //- h4: em Get into the college of your dreams!

      .blur !{essay.body}
  else
    .body !{essay.body}

  hr

  p.keepStudying Keep&nbsp;reading more <a href="#{ college.url }">#{ college.shortName } admissions essays</a> — you can't be too prepared!

  .noteNav.clearfix
    if next
      p: a.btn.large.next(href='#{next.url}', title='Next: #{next.name}') Read Another Essay
      if prev
        p
          | #{ '(or, study ' }
          a.prev(href='#{prev.url}', title='Previous: #{prev.name}') previous essay
          | )

  p.keepStudying: em Use ← → keys to navigate!

  hr

  #disqus_thread
  script.
    var disqus_shortname = 'studynotesapp';
    var disqus_identifier = '#{ essay.id }';
    var disqus_title = '#{ title }';
    var disqus_url = '#{ url }';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  h2 How to cite this essay (with MLA)
  .cite #{ user.getMlaName(essay.anon) }. "#{essay.name}" StudyNotes.org. Study Notes, LLC., #{moment(essay.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{url}&gt;.
