extends layouts/form

block content
  h1 To reset your password
  h3 Provide your registered email. This is where the reset details will be sent.

  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg

  form(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      input(
        name='email',
        type='email',
        placeholder='email',
        value=email,
        autofocus=!email,
        required
      )
    .row.submit
      button.btn.large(type='submit') Reset your password

block footer
  span Looking to <a href="/signup/">sign up</a> instead?
