extends layouts/main-sidebar

block content
  h2 Free AP Notes and Study Materials
  p We have the best Advanced Placement* study guides, practice tests, and notes on the web, contributed and curated by students and teachers like yourself. <strong>The site is used by millions of students in all 50 U.S. states to prepare for AP* courses and exams.</strong>

  .row
    each course in modelCache.coursesByName
      .col3
        h3: a(href=course.url, title=course.shortName)= course.name
        ul
          each notetype in course.notetypes
            li: a(href=course.notetypeUrl(notetype))= notetype.name

  h2
    | Free Sample College Admissions Essays
    a.btn(href='/submit/essay/')
      i.icon-cloud-upload
      | Submit an essay

  p Learn how to write a powerful college application by studying our database of <strong>#{ essayCount } successful college admissions essays</strong>. The secrets aren't secret anymore — see what actually worked for top students.
  .row
    .col4
      ul
        each college in modelCache.collegesByRank.slice(0, 3)
          li: a(href=college.url, title=college.name)= college.shortName
    .col4
      ul
        each college in modelCache.collegesByRank.slice(3, 6)
          li: a(href=college.url, title=college.name)= college.shortName
    .col4
      ul
        each college in modelCache.collegesByRank.slice(6, 9)
          li: a(href=college.url, title=college.name)= college.shortName
    .col4
      ul
        each college in modelCache.collegesByRank.slice(9, 12)
          li: a(href=college.url, title=college.name)= college.shortName

  .row
    .col2
      h2 New College Essays
      ul
        each essay in newEssays
          li
            strong: a(href=essay.college.url)= essay.college.shortName + ':'
            span= ' '
            a(href=essay.url)= ' ' + essay.name
            span.gray= ' (' + moment(essay.createDate).fromNow() + ')'
      p See <a href='/colleges/essays/'>all college essays</a>.

    .col2
      h2 New AP Notes
      ul
        each note in newNotes
          li
            strong: a(href=note.course.url)= note.course.name + ':'
            span= ' '
            a(href=note.url)= note.name
            span.gray= ' (' + moment(note.createDate).fromNow() + ')'
      p See <a href='/courses/'>all AP notes</a>.

  h2 We will be adding AP notes for the following courses soon:

  ul
    li AP Art History
    li AP Biology (AP Bio)
    li AP Calculus (AB &amp; BC)
    li AP Chemistry (AP Chem)
    li AP Chinese Language and Culture
    li AP Comparative Government &amp; Politics
    li AP Computer Science A
    li AP Environmental Science
    li AP European History
    li AP French Language and Culture
    li AP German Language and Culture
    li AP Human Geography
    li AP Italian Language and Culture
    li AP Japanese Language and Culture
    li AP Latin
    li AP Macroeconomics (AP Econ)
    li AP Microeconomics
    li AP Music Theory
    li AP Physics (B &amp; C)
    li AP Psychology (AP Psych)
    li AP Spanish Language
    li AP Spanish Literature and Culture
    li AP Statistics (AP Stats)
    li AP Studio Art
    li AP World History (APWH)

  h2 Our <strong>free AP notes</strong> include:

  ul
    li course guides
    li chapter outlines
    li topic outlines
    li vocabulary &amp; key terms
    li important historical documents
    li biographies
    li timelines
    li formulas
    li practice quizzes
    li practice tests
    li cram sheets
    li course information


append sidebar
  .tweet-home
    h4
      span.onlineNum
      | #{ ' students online' }
    a(href='https://twitter.com/share', class='twitter-share-button', data-url='#{ locals.url }', data-via='StudyNotesApp', data-size='large') Tweet
  .fb-home
    | <iframe src="//www.facebook.com/plugins/like.php?href=#{ encodeURIComponent(locals.url) }&amp;width=336&amp;height=35&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=466476846723021" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:336px; height:35px;" allowTransparency="true"></iframe>

  a(class='twitter-timeline', href='https://twitter.com/StudyNotesApp', data-widget-id='382664807926624257') Tweets by @StudyNotesApp

  h3 StudyNotes In Numbers
  ul
    li #{ util.addCommas(noteCount) } notes for #{ courseCount } <a href='/courses/'>AP courses</a>
    li #{ util.addCommas(essayCount) } essays for #{ collegeCount } <a href='/colleges/'>elite universities</a>
    li #{ util.addCommas(userCount) } registered users
    li.online

  include includes/ads/adsense-rect