extends layouts/main-sidebar

block preconnect
  link(rel='preconnect', href='https://platform.twitter.com')
  link(rel='preconnect', href='https://cdn.api.twitter.com')
  link(rel='preconnect', href='https://p.twitter.com')

block head
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "alternateName": "StudyNotes",
      "name": "Study Notes",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{ config.siteOrigin }/search/?q={query}",
        "query-input": "required name=query"
      },
      "url": "#{ config.siteOrigin }/"
    }

  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "logo": "#{ config.cdnOrigin }/images/logo.png",
      "name": "Study Notes",
      "sameAs": [
        "https://www.facebook.com/StudyNotesApp",
        "https://twitter.com/StudyNotesApp",
        "https://plus.google.com/+ApstudynotesOrg1"
      ],
      "url": "#{ config.siteOrigin }/"
    }

block sidebar
  div.twitter-home.hide-phone.hide-tablet
    a(class='twitter-timeline', href='https://twitter.com/StudyNotesApp', data-chrome='noborders', data-widget-id='382664807926624257')

  include ads/adsense-sidebar

  h3.hide-phone.hide-tablet Study Notes In Numbers

  .in-numbers.hide-phone.hide-tablet
    p.onlineNum
      span
      | #{ ' students online now' }
    p
      span.totalHits Lots of
      | #{ ' total views' }

    p #{ util.addCommas(userCount) } registered users
    p #{ util.addCommas(noteCount) } notes for <a href='/courses/'>#{ courseCount } AP courses</a>
    p #{ util.addCommas(essayCount) } admissions essays for <a href='/colleges/'>#{ collegeCount } colleges</a>

  include ads/adsense-sidebar

block content
  include includes/birdy/point
  h2 Free AP Notes and College&nbsp;Essays
  p We have the best <strong>AP notes, chapter outlines, and study guides</strong> — contributed by students and teachers like yourself. This site is used by <strong>millions across the U.S.</strong> to prepare for AP&nbsp;exams.

  .row
    .col2
      ul.buttonList
        each course in modelCache.coursesByName.slice(0, 4)
          li: a(href=course.url, title=course.shortName, class=course.id)
            span= course.name
            i.icon-right-open
    .col2
      ul.buttonList
        each course in modelCache.coursesByName.slice(4)
          li: a(href=course.url, title=course.shortName, class=course.id)
            span= course.name
            i.icon-right-open

  h2 Admissions Essays That&nbsp;Worked

  p Learn how to write a powerful college application by studying <a href='/essays/'>our database</a> of <strong>#{ essayCount } successful admissions essays</strong>. The secrets aren't secret anymore — see what actually worked for top&nbsp;students.
  .row
    .col2
      ul.buttonList.tight
        each college in modelCache.collegesByShortName.slice(0, 13)
          li: a(href=college.url, title=college.name, class=college.id)
            span= college.shortName + ' Essays'
            i.icon-right-open
    .col2
      ul.buttonList.tight
        each college in modelCache.collegesByShortName.slice(13, 26)
          li: a(href=college.url, title=college.name, class=college.id)
            span= college.shortName + ' Essays'
            i.icon-right-open

  include ads/adsense-link-unit-single

  h2 College Application Essay&nbsp;Editing

  p <strong>Enlist the expert help of one of our Ivy-League editors</strong>, including Harvard and Stanford graduates, and get individual coaching to make your essay stand out among the crowd, and make the best possible impression on the admissions officers.

  p.center: a.btn.huge(href='/essay-review/') Edit My Essays Now

  hr

  .row
    .col2
      h2 New AP Notes
      ul.tight
        each note in newNotes
          li
            a(href=note.url, title='#{ note.course.shortName } #{ note.notetype.singularName }: #{ note.name }')= note.name
            small.gray: em= ' ' + moment(note.createDate).fromNow()
    .col2
      h2 New College Essays
      ul.tight
        each essay in newEssays.slice(0, 16)
          li
            a(href=essay.url)= essay.name
            small.gray: em= ' ' + moment(essay.createDate).fromNow()

  hr

  .row
    .col2
      h2 Our <strong>free AP notes</strong> include
      ul.tight
        li course guides
        li chapter outlines
        li topic outlines
        li vocabulary &amp; key terms
        li important historical documents
        li biographies
        li timelines
        li practice quizzes
        li practice tests

    .col2
      h2 Many <strong>AP courses</strong> coming soon
      ul.tight
        li AP Art History
        li AP Biology (AP Bio)
        li AP Calculus (AB &amp; BC)
        li AP Chemistry (AP Chem)
        li AP Chinese Language and Culture
        li AP Comparative Government &amp; Politics
        li AP Computer Science A
        li AP Environmental Science
        li AP French Language and Culture
        li AP German Language and Culture
        li AP Human Geography
        li AP Italian Language and Culture
        li AP Japanese Language and Culture
        li AP Latin
        li AP Macroeconomics (AP Econ)
        li AP Music Theory
        li AP Physics (B &amp; C)
        li AP Spanish Language
        li AP Spanish Literature and Culture
        li AP Statistics (AP Stats)
        li AP Studio Art
