extends layout

block content
  a#top
  nav.toplevel.clearfix
    .mini
      a(href='/')
        img(src='/images/logo.png', alt='Study Notes', title='Jump to the front page of Study Notes')
      select#networkselection(name='network')
        option(value='network', selected='selected') - select -
        option(value='http://www.smashingmagazine.com/books/') Books
        option(value='http://www.smashingmagazine.com/ebooks/') eBooks
        option(value='http://jobs.smashingmagazine.com/') Job Board
        option(value='https://shop.smashingmagazine.com/') Shop
    ul.network.clearfix
      li.current
        a(href='http://www.smashingmagazine.com/')
          img(src='http://media.smashingmagazine.com/themes/smashingv4/images/logo.png', alt='Smashing Magazine', title='Jump to the front page')
      li
        a(href='http://www.smashingmagazine.com/books/') Books
      li
        a(href='http://www.smashingmagazine.com/ebooks/') eBooks
      li
        a(href='http://jobs.smashingmagazine.com/') Job Board
      li
        a(href='https://shop.smashingmagazine.com/') Shop
    ul.channels
      li.rss
        a(href='http://rss1.smashingmagazine.com/feed/', title='Subscribe to our RSS-feed (900K)') RSS
      li.facebook
        a(href='http://www.facebook.com/smashmag', title='Join our Facebook page! (94k)') Facebook
      li.twitter
        a(href='http://twitter.com/smashingmag', title='Follow us on Twitter! (584K)') Twitter
      li.newsletter
        a(href='http://www.smashingmagazine.com/the-smashing-newsletter/', title='Subscribe to our Email Newsletter (107K)') Newsletter
  #container
    .fluid.clearfix
      .grid.clearfix
        .mini-search.wp-search-form
          form#search(method='get', action='http://www.smashingmagazine.com/search-results/', target='_top')
            input(name='q', type='text', placeholder='e.g. JavaScript')
            button.search_submit(type='submit')
              span.first-type Search
              span.last-type Go!
            input(type='hidden', name='cx', value='partner-pub-6779860845561969:5884617103')
            input(type='hidden', name='cof', value='FORID:10')
            input(type='hidden', name='ie', value='UTF-8')
        .col.sidebar
          nav.sections
            .mini
              select#subsection-select(name='sections')
                option(value='network', selected='selected') - select -
                optgroup(label='Smashing Categories')
                  option(value='http://www.smashingmagazine.com/books/') Books
                  option(value='http://www.smashingmagazine.com/ebooks/') eBooks
                  option(value='http://jobs.smashingmagazine.com/') Job Board
                  option(value='https://shop.smashingmagazine.com/') Shop
                optgroup(label='Smashing Sections')
                  option(value='http://coding.smashingmagazine.com/') Coding
                  option(value='http://www.smashingmagazine.com/category/design/') Design
                  option(value='http://mobile.smashingmagazine.com') Mobile
                  option(value='http://www.smashingmagazine.com/category/graphics/') Graphics
                  option(value='http://uxdesign.smashingmagazine.com') UX Design
                  option(value='http://wp.smashingmagazine.com') WordPress
            ul.clearfix
              li.coding
                a(href='http://coding.smashingmagazine.com') Coding
                ul
                  li
                    a(href='http://coding.smashingmagazine.com/tag/css/') CSS
                  li
                    a(href='http://coding.smashingmagazine.com/tag/html/') HTML
                  li
                    a(href='http://coding.smashingmagazine.com/tag/javascript/') JavaScript
                  li
                    a(href='http://coding.smashingmagazine.com/tag/techniques/') Techniques
              li.design
                a(href='http://www.smashingmagazine.com/category/design/') Design
                ul
                  li
                    a(href='http://www.smashingmagazine.com/tag/web-design/') Web Design
                  li
                    a(href='http://www.smashingmagazine.com/tag/typography/') Typography
                  li
                    a(href='http://www.smashingmagazine.com/tag/inspiration/') Inspiration
                  li
                    a(href='http://www.smashingmagazine.com/tag/business/') Business
              li.community
                a(href='http://mobile.smashingmagazine.com') Mobile
                ul
                  li
                    a(href='http://mobile.smashingmagazine.com/tag/responsive-design/') Responsive
                  li
                    a(href='http://mobile.smashingmagazine.com/tag/ios/') iPhone & iPad
                  li
                    a(href='http://mobile.smashingmagazine.com/tag/android/') Android
                  li
                    a(href='http://mobile.smashingmagazine.com/tag/design-patterns/') Design Patterns
              li.graphics
                a(href='http://www.smashingmagazine.com/category/graphics/') Graphics
                ul
                  li
                    a(href='http://www.smashingmagazine.com/tag/photoshop/') Photoshop
                  li
                    a(href='http://www.smashingmagazine.com/tag/illustrator/') Illustrator
                  li
                    a(href='http://www.smashingmagazine.com/tag/wallpapers/') Wallpapers
                  li
                    a(href='http://www.smashingmagazine.com/tag/freebies/') Freebies
              li.ux
                a(href='http://uxdesign.smashingmagazine.com') UX Design
                ul
                  li
                    a(href='http://uxdesign.smashingmagazine.com/tag/usability/') Usability
                  li
                    a(href='http://uxdesign.smashingmagazine.com/tag/user-experience/') User Experience
                  li
                    a(href='http://uxdesign.smashingmagazine.com/tag/ui/') UI Design
                  li
                    a(href='http://uxdesign.smashingmagazine.com/tag/e-commerce/') E-Commerce
              li.wordpress
                a.clearfix(href='http://wp.smashingmagazine.com')
                  span.short WP
                  span.long
                    span Word
                    span Press
                ul
                  li
                    a(href='http://wp.smashingmagazine.com/tag/essentials/') Essentials
                  li
                    a(href='http://wp.smashingmagazine.com/tag/techniques/') Techniques
                  li
                    a(href='http://wp.smashingmagazine.com/tag/plugins/') Plugins
                  li
                    a(href='http://wp.smashingmagazine.com/tag/themes/') Themes
            br.nasty
        //
           .col.sidebar 
        .col.main.home
          article.post-140190.post.type-post.status-publish.format-standard.hentry.category-wordpress.post
            h2
              a(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/', rel='bookmark', title='Read \'Help Us Help WordPress\'')
                span.catch_headline Usability Testing In WordPress
                span.headline Help Us Help WordPress
            ul.postmetadata.clearfix
              li.author
                | By
                a(rel='author', href='http://wp.smashingmagazine.com/author/shane-pearlman/?rel=author', title='Posts by Shane Pearlman') Shane Pearlman
              li#logoedtarget.inline
              li.date August 8th, 2012
              li.tags
                a(href='http://wp.smashingmagazine.com/tag/plugins/') Plugins
                | ,
                a(href='http://wp.smashingmagazine.com/tag/usability/') Usability
              li.comments
                a(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/#comments', title='Help Us Help WordPress') 15 Comments
            p
              | This is a personal request from your user, a rallying cry from a compatriot. I personally love WordPress. I make my living from it. The average user, though, couldn’t care less about it.
            p
              a(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/')
                img(src='http://media.smashingmagazine.com/wp-content/uploads/2012/07/featured-image.png', width='500', height='275', alt='Usability for WordPress by Modern Tribe')
            p
              | They just want to run their business, tell their family history, organize their church, share their photos or live their life online with a minimum of impedance. In its evolution from simple blogging tool to CMS, framework and software ecosystem,
              strong WordPress is losing its way
              | . It needs us to help bring it back and cultivate simple genius.
            a.continue-reading(href='http://wp.smashingmagazine.com/2012/08/08/help-us-help-wordpress/') Read more...
          .ed.homepageadwrapper.clearfix
            span.declare Advertisement
            span.awithus
              a.sprite.ed-us(title='Advertise with us!', href='mailto:advertising@smashingmagazine.com') Advertise with us!
            #homepagead
              img(src='http://placekitten.com/540/150')
          .wp-pagenavi.clearfix
            .pagenavi.clearfix
              .previous
              .pagelist.clearfix
                span.current 1
                a.page(href='http://www.smashingmagazine.com/page/2/', title='2') 2
                a.page(href='http://www.smashingmagazine.com/page/3/', title='3') 3
                a.page(href='http://www.smashingmagazine.com/page/4/', title='4') 4
                a.page(href='http://www.smashingmagazine.com/page/5/', title='5') 5
                a.page(href='http://www.smashingmagazine.com/page/6/', title='6') 6
                a.page(href='http://www.smashingmagazine.com/page/7/', title='7') 7
                a.page(href='http://www.smashingmagazine.com/page/8/', title='8') 8
                a.page(href='http://www.smashingmagazine.com/page/9/', title='9') 9
                a.page(href='http://www.smashingmagazine.com/page/10/', title='10') 10
              .next
                a(href='http://www.smashingmagazine.com/page/2/') next »
          //
             <span class="current-pages">Page 1 of 163 ... redundante information...</span> 
        //
           .col.main 
      //
         .grid 
      p
        a.backtotop(href='#top', title='Jump to the top of the page') ↑ Back to top
    //
       .fluid 
  //
     #container 
  #wpsidebar
    .col.side
      .sm-search.wp-search-form
        form(method='get', action='http://www.smashingmagazine.com/search-results/', target='_top')
          span.declare Search on Smashing Magazine
          input(name='q', type='text', placeholder='e.g. Responsive design')
          button.search_submit(type='submit')
            span.first-type Search
            span.last-type Go!
          input(type='hidden', name='cx', value='partner-pub-6779860845561969:5884617103')
          input(type='hidden', name='cof', value='FORID:10')
          input(type='hidden', name='ie', value='UTF-8')
      .ed.spnsrlistwrapper
        span.declare Advertisement
        span.awithus
          a.sprite.ed-us(href='mailto:advertising@smashingmagazine.com', title='Advertise with us!') Advertise with us!
        #spnsrlisttarget
        //
           /#spnsrlisttarget 
      //
         /.ed.spnsrlistwrapper 
      .inner
        .textwidget
          .sidebartabs
            #smashing-highlights.sidebarwidget
              h3
                a(href='/images/smashing-highlights/')
                  span Smashing Highlights
                  img(src='/images/sm-highlights.png', alt='Smashing Highlights')
              p
                | In this section, we present to you the most valued and appreciated articles from the last few years on Smashing Magazine.
              ul.topiclist
                li
                  a(href='http://www.smashingmagazine.com/2011/11/03/%E2%80%9Cbut-the-client-wants-ie-6-support%E2%80%9D/') “But The Client Wants IE 6 Support!”
                  p
                    | The developers are stuck with the same Web development techniques that we used five to ten years ago. Their clients just don’t “get” graceful degradation. How can we solve this problem?
                li
                  a(href='http://www.smashingmagazine.com/2011/06/13/the-story-of-scandinavian-design-combining-function-and-aesthetics/') The Story Of Scandinavian Design
                  p
                    | While the countries of Scandinavia have extreme differences, they do have some similarities. This article gives an overview of the influences and state of art and design in the Nordic countries.
                li
                  a(href='http://www.smashingmagazine.com/2010/09/07/showcase-of-interesting-navigation-designs/') Showcase of Interesting Navigation Designs
                  p
                    | Everyone is always looking for interesting and effective ways to organize their website, but there’s a fine line between unexpected and unusable. Here are some unusual navigation design examples.
            //
               /#highlights 
        #sidebarspecialtarget
        //
           /#sidebarspecialtarget 
        .sidebar-smash-box.smashingbook-printed
          .textwidget
            a(href='http://www.smashingbook.com')
              img(src=' http://media.smashingmagazine.com/wp-content/uploads/2012/03/small_cover.png', alt='Smashing Printed Books')
            p
              strong Get Your Smashing Book #3!
              br
              | This book is the best printed book we've produced so far: it is a valuable, cutting-edge, high-quality book that any Web designer should have on their bookshelf.
              strong
                a(href='http://www.smashingbook.com')  Get your book now: printed or eBook!
        //
           /.smashingbook-printed 
        .sidebartabs
          #newsletter_widget.sidebarwidget
            h3
              a(href='http://www.smashingmagazine.com/the-smashing-newsletter/')
                span The Smashing Newsletter
                img(src='/images/smnl.png', alt='Smashing Newsletter')
            #mc_embed_signup.sm-search
              p
                | Subscribe to our email newsletter for useful tips and valuable resources, sent out every second Tuesday.
              form#mc-embedded-subscribe-form.validate(action='http://smashingmagazine.us1.list-manage1.com/subscribe/post?u=16b832d9ad4b28edf261f34df&id=a1666656e0', method='post', name='mc-embedded-subscribe-form')
                input(name='EMAIL', type='text', placeholder='email address')
                button.search_submit(type='submit')
                  span.first-type Subscribe
                .clearfix
                  .num-subscribers 100,000 subscribers (mailchimp)
          //
             /#network_widget 
        //
           /.sidebartabs 
        .sidebar-smash-box.smashingmag-conference
          .textwidget
            a(href='http://lanyrd.com/profile/smashingmag/')
              img(src='http://media.smashingmagazine.com/wp-content/uploads/2012/07/frontendconf.png', width='100', height='100', alt='Conference', title='Conference')
            p
              strong Let's meet!
              br
              | Smashing Magazine's editor-in-chief Vitaly Friedman will be speaking at the
              strong Front End Conf
              | conference in Zurich, Switzerland.
              strong
                a(href='http://lanyrd.com/profile/smashingmag/') Let's grab a beer
              | !
        //
           /.smashingmag-conference 
        .sidebartabs
          #jobs.sidebarwidget
            h3
              a(href='http://jobs.smashingmagazine.com/?pk_campaign=sm&piwik_kwd=widget')
                span Smashing Job Board
                img(src='/images/sm-jobs.png', alt='Smashing Jobs')
            ul.topiclist
              li(style='display: none;')
              li.clearfix
                a(href='http://feedproxy.google.com/~r/smjobs/~3/W90Kvc_yEsI/2041533') Senior Digital Designer - Webplace - (Melbourne, Australia) - FullTime
                p
                  | About us: Webplace is a fast-growing digital agency located in Abbotsford, Melbourne with interstate offices in Adelaide and Sydney. Our clients are as…
              li.clearfix
                a(href='http://feedproxy.google.com/~r/smjobs/~3/OCX5nZrYlts/2041486') Flash Designer/Illustrator - IXL Learning - (San Mateo, CA) - FullTime
                p
                  | IXL Learning seeks a creative, talented Flash Designer to join our team. As a Flash Designer at IXL, you will create stunning visuals for a series of animated educational…
            p.view-more
              a(href='http://jobs.smashingmagazine.com?pk_campaign=sm&piwik_kwd=widget') View more job openings…
          //
             /#jobs 
        //
           /.sidebartabs 
        .sidebar-smash-box.smashingmag-meetup
          .textwidget
        //
           /.smashingmag-meetup 
      //
         /.inner 
      .sidebar-smash-box.smashingmag-promo-field
        .textwidget
          a(href='http://www.smashingmagazine.com/ebooks/')
            img(src='http://media.smashingmagazine.com/uploads/2012/01/best-of-no-150px.png', alt='Smashing Anniversary eBook')
          p
            strong Free eBook: "Best of Smashing Magazine"
            br
            | We've got a gift for you! To celebrate our birthday, we've released a free eBook with best articles published here on Smashing Magazine over all these years. In PDF, ePUB and Mobi.
            strong
              a(href='http://www.smashingmagazine.com/ebooks/') Get it now for free!
      //
         /.smashingmag-promo-field 
      .two.clearfix
        .left
          .textwidget
            .inner.popular-posts-area
              h2.popular Tags
              ul.popular-list.sidelist
                li
                  a(href='http://mobile.smashingmagazine.com/tag/android/') Android
                li
                  a(href='http://www.smashingmagazine.com/tag/branding/') Branding
        //
           /.left 
        .right
          #twitter
            .inner
              h2.icon.twitter Twitter
              a.follow-us(href='http://twitter.com/smashingmag') Follow Us
            ul#tweetlist
              li(style='display: none;')
              li.twitter-item
                a.twitter-user(href='http://twitter.com/studentwebguide') @studentwebguide
                | Thank you for your support!, Janna!
                a.tweet-status(href='http://twitter.com/smashingmag/statuses/233440211240112128', title='2012-08-09T07:50:00+02:00')
          //
             /#twitter 
          .ed.sidebared
            #sidebaredtarget
          //
             /.ed.sidebared 
          .ed.sidebared
            #sidebaredthreetarget
          .inner.interact-area
            h2.icon.interact Connect
            ul.interact-list.sidelist
              li
                a(href='http://www.smashingmagazine.com/about/') About us
              li
                a(href='http://www.smashingmagazine.com/contact/') Contact us
              li
                a(href='http://www.smashingmagazine.com/publishing-policy/') Publishing Policy
              li
                a(href='http://www.smashingmagazine.com/the-smashing-newsletter/') Email Newsletter
              li
                a(href='http://www.smashingmagazine.com/how-to-become-a-smashing-magazine-author/') Become an Author
              li
                a(href='/the-smashing-newsletter/') Smashing Newsletter
              li
                a(href='http://www.noupe.com') Noupe Design Blog
              li.twitter
                a(href='http://twitter.com/smashingmag') Follow us on Twitter
              li.facebook
                a(href='http://www.facebook.com/smashmag') Join us on Facebook
              li.rss
                a(href='http://rss1.smashingmagazine.com/feed/') Subscribe to RSS-Feed
        //
           /.right 
      //
         /.two 
    //
       .col.ads 
  #footer
    #the-smashing-cat
      a(href='http://www.smashingmagazine.com/about/')
        img(title='The Smashing Cat', alt='The Smashing Cat', src='http://media.smashingmagazine.com/themes/smashingv4/images/smashing-cat.png')
    .contribute
      h4 Best of Design
      ul
        li
          a(href='http://www.smashingmagazine.com/responsive-web-design-guidelines-tutorials/') Responsive Design
        li
          a(href='http://www.smashingmagazine.com/professional-photoshop-techniques-tutorials/') Photoshop
        li
          a(href='http://www.smashingmagazine.com/typography-guidelines-and-references/') Typography
        li
          a(href='http://www.smashingmagazine.com/guidelines-for-mobile-web-development/') Mobile Design
        li
          a(href='http://www.smashingmagazine.com/usability-and-user-experience/') Usability and UX
        li
          a(href='http://www.smashingmagazine.com/web-design-essentials-examples-and-best-practices/') Web Design Showcases
    .contribute
      h4 Best of Coding
      ul
        li
          a(href='http://www.smashingmagazine.com/learning-javascript-essentials-guidelines-tutorials/') JavaScript & jQuery
        li
          a(href='http://www.smashingmagazine.com/learning-wordpress-useful-wordpress-tips-tutorials/') WordPress Techniques
        li
          a(href='http://www.smashingmagazine.com/coding-with-html5-tutorials-guidelines/') HTML5 Tutorials
        li
          a(href='http://www.smashingmagazine.com/mastering-css-principles-comprehensive-reference-guide/') CSS
          | ,
          a(href='http://www.smashingmagazine.com/learning-css3-useful-reference-guide/') CSS3
        li
          a(href='http://www.smashingmagazine.com/time-savers-tools-useful-services-web-design/') Useful Time Savers
        li
          a(href='http://www.smashingmagazine.com/bored-the-curious-side-of-smashing-magazine/') Bored?
    .contribute.our-content
      h4 Smashing Hub
      ul
        li
          a(href='http://www.smashingmagazine.com') Smashing Magazine
        li
          a(href='http://www.smashingmagazine.com/books/') Smashing Books
        li
          a(href='http://www.smashingmagazine.com/ebooks/') Smashing eBooks
        li
          a(href='http://www.smashingmagazine.com/the-smashing-newsletter/') Smashing Email Newsletter
        li
          a(href='http://shop.smashingmagazine.com') Smashing Shop
        li
          a(href='http://jobs.smashingmagazine.com/') Smashing Job Board
    .contribute
      h4 Other Resources
      ul
        li
          a(href='http://www.smashingmagazine.com/2011/09/08/to-five-smashing-years-and-a-free-anniversary-ebook-treat/') Free Anniversary eBook
        li
          a(href='http://www.smashingmagazine.com/smashing-book-1/') Smashing Book 1 in HTML
        li
          a(href='http://www.smashingmagazine.com/the-lost-files/') Smashing Book 2 Extras
        li
          a(href='http://www.smashingmagazine.com/publishing-policy/') Publishing Policy
        li
          a(href='http://www.smashingmagazine.com/about/') About us
        li
          a(href='http://www.smashingmagazine.com/contact/') Contact us
    p.statement
      em With a commitment to quality content for the design community.
      br
      a(href='http://www.smashingmagazine.com/about/') Smashing Media GmbH
      | . Made in Germany. 2006-2012.
//- <body>
//-   <div class="container">
//-       <header id="header_wrap">
//-           <h1 id="logo">
//-               <img src="http://placekitten.com/100/100" alt="Study Notes" />
//-           </h1>
          
//-           <h2 id="description">The best site for 100% FREE AP notes! We offer free study materials to high school students seeking to prepare for Advanced Placement classes and exams.</h2>
//-       </header>
//-       <section role="main">
      
      
//-       </section>
//-       <footer>
      
//-       </footer>
//-   </div>
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script
  if (!window.jQuery) {
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='/javascripts/lib/jquery-1.7.1.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  }

script(src='js/plugins.js')
script(src='js/script.js')

// TODO: add https://github.com/scottjehl/Respond/ 
// TODO: add google analytics here
script
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  
      
//
   TODO: add other tracking here 
