extends layouts/form

block content
  a(href=config.siteOrigin)
    include includes/birdy/point
  if (req.session.pro)
    h1 You're almost done!
    h2 Login to your Study Notes account so we can upgrade it.
  else
    h1 Log in to Study Notes
    h2 Provide your email and password.

  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg

  form.login(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      input(
        name='email',
        type='email',
        placeholder='email',
        value=email,
        autofocus=!email,
        required
      )
    .row
      input(
        name='password',
        type='password',
        placeholder='password',
        autofocus=!!email,
        required
      )
    .row.submit
      button.btn.large(type='submit') Log In

block footer
  span Looking to <a href="/signup/">sign up</a> instead?
  span Need to <a href="/login/forgot/">reset your password</a>?
