extends layouts/form

block content
  if (req.session.pro)
    h1 You're almost done!
    h2 <strong>Login</strong> to your StudyNotes account so we know who you are.
  else
    h1 Log in to StudyNotes
    h2 Provide your email and password.

  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg

  form(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      input(
        name='email',
        type='email',
        placeholder='email',
        value=email,
        autofocus=!email,
        required
      )
    .row
      input(
        name='password',
        type='password',
        placeholder='password',
        autofocus=!!email,
        required
      )
    .row.submit
      button.btn.large(type='submit') Log In

block footer
  span Looking to <a href="/signup/">sign up</a> instead?
  span Need to <a href="/login/forgot/">reset your password</a>?