extends layouts/main-sidebar

append sidebar
  include includes/ads/adsense-rect
  h3 Note Stats
  if (notetype.singularName)
    p <strong>#{ util.addCommas(note.hits) } people</strong> have viewed this #{ notetype.singularName.toLowerCase() }.
  else
    p <strong>#{ util.addCommas(note.hits) } people</strong> have viewed these #{ notetype.name.toLowerCase() }.
  include includes/relatedNotes
  include includes/ads/adsense-rect

append toolbar
  if next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →
    .navigate-msg Use ← → keys to navigate

block content
  include includes/breadcrumbs
  h1= note.name

  include includes/toolbar

  include includes/ads/adsense-inline-rect

  | !{note.body}

  p.keepStudying You just finished <strong>#{note.name}</strong>. Nice&nbsp;work!

  .noteNav.clearfix
    if prev
      a.btn.prev(href='#{prev.url}', title='Previous: #{prev.name}') ← Prev

    if next
      a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →

  hr
  h2 How to cite this note (with MLA)
  .cite Aboukhadijeh, Feross. "#{note.name}" StudyNotes.org. StudyNotes, Inc., #{moment(note.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{note.absoluteUrl}&gt;.



