extends layouts/main-sidebar
include mixins/comments

append toolbar
  if req.user && req.user.admin
    a.btn.red.edit(href='?edit=1') Edit
  if next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next<span class="hide-tablet-tight hide-phone-tight"> #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }</span>

block sidebar
  include ads/adsense-sidebar

  if notes
    h2 More #{course.shortName} #{notetype.name}
    ul.more
      each note in notes
        li: a(href='#{note.url}')= note.name

  include ads/adsense-sidebar

  ul
    li #{ util.addCommas(note.hits) } views (#{ util.addCommas(util.hitsPerDay(note.hits, note.createDate)) } views per day)
    li.online
    li Posted <span title='#{ moment(note.createDate).format("MMMM Do, YYYY, h:mm:ss a") }'>#{ moment(note.createDate).fromNow() }</span>

block content
  if (locals.ads && config.isProd)
    //- Google Surveys
    script.
      (function() {
        var ARTICLE_URL = window.location.href;
        var CONTENT_ID = 'everything';
        document.write(
          '<scr'+'ipt '+
          'src="//survey.g.doubleclick.net/survey?site=_zgv7myx62mjtxzsj4g3vvulzky'+
          '&amp;url='+encodeURIComponent(ARTICLE_URL)+
          (CONTENT_ID ? '&amp;cid='+encodeURIComponent(CONTENT_ID) : '')+
          '&amp;random='+(new Date).getTime()+
          '" type="text/javascript">'+'\x3C/scr'+'ipt>');
      })();

  include includes/breadcrumbs
  h1= note.name

  include includes/toolbar

  include ads/adsense-in-content

  .p402_premium
    .body !{note.body}

  //- Google Surveys
  script.
    try { _402_Show() } catch(e) {}

  .after-content
    hr

    p You just finished <strong>#{note.name}</strong>. Nice&nbsp;work!

    include ads/adsense-link-units
    include ads/medianet-after-content

    include includes/birdy/happy

    p
      if prev
        a.btn.large.prev(href='#{prev.url}', title='Prev: #{prev.name}') Previous #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }
      if next
        a.btn.large.next(href='#{next.url}', title='Next: #{next.name}') Next #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }
    p: em Tip: Use ← → keys to navigate!

  //- +comments(note.id, title, url)

  hr

  h3 How to cite this note (MLA)
  .cite Aboukhadijeh, Feross. "#{note.name}" StudyNotes.org. Study Notes, LLC., #{moment(note.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{url}&gt;.

  .after-content.hide-mobile
    hr
    include ads/outbrain
