extends layouts/main

append sidebar
  include includes/ads/adsense-rect
  include includes/countdown
  include includes/ads/adsense-rect
  h3 Page Stats
  p <strong>#{ util.addCommas(notetype.hits) } people</strong> have viewed this #{ course.name } #{ notetype.name.toLowerCase() } page.

block content
  include includes/breadcrumbs
  h1= notetype.name
  include includes/toolbar

  include includes/ads/adsense-inline-rect

  p!= notetype.desc || notetype.shortDesc

  if (locals.notes)
    ul.listing
      each note in notes
        li: a(href='#{note.slug}/')= note.name

  hr
  include includes/ads/adsense-link-unit
