extends layouts/main-sidebar

append toolbar
  if locals.currentUser && currentUser.admin
    a.btn.red.edit(href='?edit=1') Edit
  if locals.next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }
    .navigate-msg Use ← → keys to navigate
  if !locals.next && locals.prev
    a.btn.prev(href='#{prev.url}', title='Prev: #{prev.name}') Prev #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }
    .navigate-msg Last note in this set

block content
  include includes/breadcrumbs
  h1= note.name

  include includes/toolbar

  include ads/adsense-in-content

  | !{note.body}

  hr

  p.keepStudying You just finished <strong>#{note.name}</strong>. Nice&nbsp;work!
  p.keepStudying Go back to <a href="#{ course.notetypeUrl(notetype) }">all #{ notetype.name.toLowerCase() }</a>.

  .noteNav.clearfix
    if prev
      a.btn.prev(href='#{prev.url}', title='Previous: #{prev.name}') Prev #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }

    if next
      a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next #{ notetype.hasChapters ? 'Chapter' : notetype.singularName }


  hr

  #disqus_thread
  script.
    var disqus_shortname = 'studynotesapp';
    var disqus_identifier = '#{ note.id }';
    var disqus_title = '#{ title }';
    var disqus_url = '#{ url }';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  h2 How to cite this note (with MLA)
  .cite Aboukhadijeh, Feross. "#{note.name}" StudyNotes.org. StudyNotes, Inc., #{moment(note.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{note.absoluteUrl}&gt;.


append sidebar
  include ads/adsense-sidebar

  h2 Note Stats
  ul
    li #{ util.addCommas(note.hits) } views
    li.online

  if locals.relatedNotes
    h2 More #{course.shortName} #{notetype.name}
    ul.more
      each note in relatedNotes
        li: a(href='#{note.url}')= note.name

  include ads/adsense-sidebar
