extends layouts/main-sidebar

append toolbar
  if next
    a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →
    .navigate-msg Use ← → keys to navigate

block content
  include includes/breadcrumbs
  h1= note.name

  include includes/toolbar

  include includes/ads/adsense-inline-rect

  | !{note.body}

  hr

  p.keepStudying You just finished <strong>#{note.name}</strong>. Nice&nbsp;work!

  .noteNav.clearfix
    if prev
      a.btn.prev(href='#{prev.url}', title='Previous: #{prev.name}') ← Prev

    if next
      a.btn.next(href='#{next.url}', title='Next: #{next.name}') Next →

  hr

  #disqus_thread
  script.
    var disqus_shortname = 'studynotesapp';
    var disqus_identifier = '#{ note.id }';
    var disqus_title = '#{ title }';
    var disqus_url = '#{ url }';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  h2 How to cite this note (with MLA)
  .cite Aboukhadijeh, Feross. "#{note.name}" StudyNotes.org. StudyNotes, Inc., #{moment(note.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{note.absoluteUrl}&gt;.


append sidebar
  include includes/ads/adsense-rect

  h2 Note Stats
  ul
    li #{ util.addCommas(note.hits) } views
    li.online

  if locals.relatedNotes
    h2 More #{course.name} #{notetype.name}
    ul.more
      each note in relatedNotes
        li: a(href='#{note.url}')= note.name

  include includes/ads/adsense-rect
