extends layout

block content
  include includes/breadcrumbs
  h1= note.name
  | !{note.body}

  .noteNav.clearfix
    p.center.gray You just finished studying <strong>#{note.name}</strong> for <strong>#{course.name}</strong>. Keep studying!
    if notePrev
      a.prev(href='#{notePrev.url}') Previous: #{notePrev.name}

    if noteNext
      a.next(href='#{noteNext.url}') Next: #{noteNext.name}

  include ads/amazon

append sidebar
  include includes/noteInfo
  include includes/relatedNotes