extends layout

block content
  include includes/breadcrumbs
  h1= note.name
  | !{note.body}

  .noteNav.clearfix
    p.center.gray You just finished <strong>"#{note.name}" for #{course.name}</strong>. Keep&nbsp;studying!
    if notePrev
      a.prev(href='#{notePrev.url}') Previous: #{notePrev.name}

    if noteNext
      a.next(href='#{noteNext.url}') Next: #{noteNext.name}

append sidebar
  include includes/relatedNotes
  include ads/amazon
  include includes/noteInfo