extends layout

append toolbar
  if noteNext
    a.btn.next(href='#{noteNext.url}', title='Next: #{noteNext.name}') Next →
    .navigate-msg Use ← → keys to navigate

append sidebar
  include includes/ads/adsense-rect
  include includes/noteInfo
  include includes/relatedNotes
  include includes/ads/adsense-rect-skyscraper

block content
  include includes/breadcrumbs
  h1= note.name

  include includes/toolbar

  include includes/ads/adsense-inline-rect

  | !{note.body}

  p.keepStudying You just finished <strong>"#{note.name}"</strong>. Keep&nbsp;studying!

  .noteNav.clearfix
    if notePrev
      a.btn.prev(href='#{notePrev.url}', title='Previous: #{notePrev.name}') ← Prev

    if noteNext
      a.btn.next(href='#{noteNext.url}', title='Next: #{noteNext.name}') Next →

  hr
  include includes/ads/adsense-link-unit
  hr
  h2 How to cite this note (with MLA)
  .cite Aboukhadijeh, Feross. "#{note.name}" StudyNotes.org. StudyNotes, Inc., #{moment(note.createDate).format('DD MMM. YYYY.')} Web. #{moment().format('DD MMM. YYYY.')} &lt;#{note.absoluteUrl}&gt;.



