extends layouts/form

block content
  a(href=config.siteOrigin)
    include includes/birdy/point
  if req.session.pro
    h1 You're almost done!
    h2 We just need to know a few more things to <strong>create your account</strong>.
  else
    h1 Help students get into college!
    h2 Share your admissions essays.

  if errors.length
    .errors
      each msg in errors
        div= msg

  form.signup(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      input(
        name='name',
        type='text',
        placeholder='full name',
        value=(user && user.name),
        autofocus,
        required
      )
    if !req.session.pro
      .row
        input(
          name='email',
          type='email',
          placeholder='email',
          value=(user && user.email),
          required
        )
    .row
      input(
        name='password',
        type='password',
        placeholder='password',
        value=(user && user.password),
        required
      )
    .row.submit
      button.btn.large(type='submit') Sign up

block footer
  if !req.session.pro
    span Looking to <a href="/login/">log in</a> instead?
