extends layouts/main

append stylesheets
  link(rel='stylesheet', href='#{ config.cdnOrigin }/out/bower_components/select2/select2.css')

block content
  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg
  form(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    .row
      .col2
        input(name='name', type='text', placeholder='Essay Title', value=(essay && essay.name), autofocus, required)
      .col2
        select.select2(name='college', data-placeholder='Which university is this essay for?')
          option
          each college in modelCache.collegesByName
            option(value=college._id, data-alt=college.shortName, selected=(essay && (essay.college === college._id)))= college.name
    .row
      textarea.editor(name='prompt', placeholder='Paste the essay prompt here... (optional)')= (essay && essay.prompt)
    .row(style='margin: 0')
      .toolbar-ghost
        #editor-toolbar.toolbar.clearfix(style='display: none;')
          a(data-wysihtml5-command='formatInline', data-wysihtml5-command-value='strong'): i.icon-bold
          a(data-wysihtml5-command='formatInline', data-wysihtml5-command-value='em'): i.icon-italic
          a(data-wysihtml5-command='underline'): i.icon-underline
          .space
          a(data-wysihtml5-command='insertOrderedList'): i.icon-list-ol
          a(data-wysihtml5-command='insertUnorderedList'): i.icon-list-ul
          .space
          a(data-wysihtml5-command='formatBlock', data-wysihtml5-command-value='h3') Heading
    .row
      textarea.editor(name='body', placeholder='Paste the essay here...', data-toolbar='editor-toolbar')= (essay && essay.body)
    .row.submit
      button.btn.large(type='submit') Submit Essay
      div(style='display: inline-block')
        input(name='anon', id='anon', type='checkbox', value='true')
        .checkbox
        label(for='anon') Anonymous
