extends layouts/main

append vars
  - var editorAssets = true

block content
  if (locals.errors.length)
    .errors
      each msg in errors
        div= msg
  form.submit-note(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    if note && note._id
      input(type='hidden', name='_id', value=note._id)
    .row
      input(name='name', type='text', placeholder='Note Title', value=(note && note.name), autofocus, required)
    .row
      .col2
        select.select2(name='course', data-placeholder='Which AP course?')
          option
          each course in modelCache.coursesByName
            option(value=course.id, data-alt=course.shortName, selected=(note && (note.course === course.id)))= course.name
      .col2
        select(name='allNotetypes', style='display: none;')
          each course in modelCache.coursesByName
            each notetype in course.notetypes
              option(value=notetype.id, data-course=course.id, selected=(note && (note.notetype === notetype.id)))= notetype.singularName || notetype.name
        select.select2(name='notetype', data-placeholder='What kind of note?', disabled)
          option
    .row
      textarea(name='body', placeholder='Paste the note here...')= (note && note.body)
    .row.submit
      button.btn.large(type='submit') Submit Note
      div(style='display: inline-block')
        input(name='anon', id='anon', type='checkbox', checked=(note && note.anon))
        .checkbox
        label(for='anon') Anonymous
