extends layouts/main

append vars
  - var editorAssets = true

block content
  if errors.length
    .errors
      each msg in errors
        div= msg
  form.submit-essay(method='POST')
    input(type='hidden', name='_csrf', value=csrf)
    if essay && essay._id
      input(type='hidden', name='_id', value=essay._id)
    .row
      .col2
        input(name='name', type='text', placeholder='Essay Title', value=(essay && essay.name), autofocus, required)
      .col2
        select.select2(name='college', data-placeholder='Which university is this essay for?')
          option
          each college in modelCache.collegesByName
            option(value=college.id, data-alt=college.shortName, selected=(essay && (essay.college === college.id)))= college.name
    .row
      textarea(name='prompt', placeholder='Paste the essay prompt here... (optional)')= (essay && essay.prompt)
    .row
      textarea(name='body', placeholder='Paste the essay here...')= (essay && essay.body)
    .row.submit
      button.btn.large(type='submit') Submit Essay
      div(style='display: inline-block')
        input(name='anon', id='anon', type='checkbox', checked=(essay && essay.anon))
        .checkbox
        label(for='anon') Anonymous
