extends layouts/main-sidebar

block content
  include includes/toolbar

  if (essays.length)
    ul.listing
      each essay in essays
        li: a(href='#{ essay.url }')= essay.name + ' - ' + essay.college.shortName
  else if (user._id === currentUser._id)
    h2 You haven't posted anything yet! <a href="/submit/essay/">Share your college admissions essay</a>!
  else
    p Nothing to see here yet!

append sidebar
  .author
    a(href=user.url)
      img(src=user.gravatar)
      h2.name= user.name
    if (user.collegeMajor)
      h3.accepted= user.collegeMajor
    if (user.college)
      h3.accepted
        | #{ user.hasGraduated ? 'Graduated ' : 'Attending ' }
        a(href=user.college.url)= user.college.shortName
        if (user.collegeYear)
          | #{ ' \'' + user.collegeYear.toString().substring(2) }

  h2 User Stats
  ul
    li #{ util.addCommas(totalHits) } views (all submissions)
    li #{ util.addCommas(user.hits) } profile views
    li.online

  include includes/ads/adsense-rect