mixin entries(entries)
  - var num = 0
  each entry_ in entries
    if num > 0 && num <= 21 && num % 7 === 0
      include ../ads/adsense-link-unit
    - num += 1
    .entry
      .heading
        h3
          | !{ num + '. ' }
          a(href=entry_.url)= entry_.name

        if entry_.populated('college')
          .collegeLogo
            a(href=entry_.college.url, title=entry_.college.name)
              img(src=`${config.cdnOrigin}/images/icon/${entry_.college.id}.png`)

        if entry_.populated('user')
          .author.hide-phone
            if !entry_.anon
              a(href=entry_.user.getUrl())
                img(src=entry_.user.gravatar(80))

      .body
        if entry_.bodyTruncate
          | !{ entry_.bodyTruncate }
        else
          p Preview unavailable, click to read

        a.read-more(href=entry_.url, title=entry_.name)
          | !{ 'Read&nbsp;more' }
          i.icon-angle-double-right
