mixin entries(entries)
  - var num = 0
  each entry in entries
    - num += 1
    .entry
      .heading
        h3
          | !{ num + '. ' }
          a(href=entry.url)= entry.name

        if (entry.populated('college'))
          .collegeLogo
            a(href=entry.college.url, title=entry.college.name)
              img(src=config.cdnOrigin + '/images/icon/#{ entry.college.id }.png')

        if (entry.populated('user'))
          .author.hide-phone
            if !entry.anon
              a(href=entry.user.getUrl())
                img(src=entry.user.gravatar(80))

      - var body = util.truncate(util.sanitizeHTML(entry.body, ['p']), 300).trim()
      .body
        if (body)
          | !{ body }
        else
          p Preview unavailable, click to read

        a.read-more(href=entry.url, title=entry.name)
          | !{ 'Read&nbsp;more' }
          i.icon-angle-double-right
