mixin entries(entries)
  - var num = 0
  each entry in entries
    if num === 7 || num === 14 || num === 21
      include ../ads/adsense-link-unit-single
    - num += 1
    .entry
      .heading
        h3
          | !{ num + '. ' }
          a(href=entry.url)= entry.name

        if (entry.populated('college'))
          .collegeLogo
            a(href=entry.college.url, title=entry.college.name)
              img(src=config.cdnOrigin + '/images/icon/#{ entry.college.id }.png')

        if (entry.populated('user'))
          .author.hide-phone
            if !entry.anon
              a(href=entry.user.getUrl())
                img(src=entry.user.gravatar(80))

      .body
        if entry.bodyTruncate
          | !{ entry.bodyTruncate }
        else
          p Preview unavailable, click to read

        a.read-more(href=entry.url, title=entry.name)
          | !{ 'Read&nbsp;more' }
          i.icon-angle-double-right
