!!! 5
<!--[if lt IE 9]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

head
  include includes/head

body(class='#{locals.cls}')

  header#header
    ul.left
      li.home
        a(href='/', title='Go to the front page of StudyNotes', class='home #{locals.cls == 'home' ? 'current' : ''}') Study Notes
    div.search.off
      form(action='/search/', method='GET')
        input(autocorrect='off', autocomplete='off', autofocus, name='q', placeholder='Search...', type='text', value='#{locals.search_term}')
    ul.right
      each item, cls in locals.topnav
        li: a(href='#{item.url}', class='#{cls} #{locals.cls == cls ? 'current' : ''}')= item.shortname

  #browseWrapper
    ul#browse
      each course in locals.courses
        li
          h2: a(href='/#{course.slug}/')= course.name
          ul
            each notetype in course.notetypes
              li: a(href='/#{course.slug}/#{notetype.slug}/')= notetype.name

  #container

    #contentWrapper
      #content
        block content

    #sidebar
      if env == "development"
        img(src='http://placekitten.com/336/280')
      else
        include ads/adsense-large-rectangle

  //- footer#footer
  //-   include includes/footer
  
  //- Scripts
  //- TODO: concat all scripts together into one.

  if (locals.env == "development")
    script(src='/javascripts/libs/jquery-1.8.2.js')

  else
    script(src='/javascripts/libs/jquery-1.8.2.min.js')

  script(src='/javascripts/client.js')

  if (locals.env == "development")
    script
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  //- TODO: add https://github.com/scottjehl/Respond/

  //- TODO: add google analytics here
  //- script
  //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  //-   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  //-   s.parentNode.insertBefore(g,s)}(document,'script')); 
        
  //- TODO: add other tracking here

</html>