!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

head
  include head

body(class='{locals.cls}')

  #container
    header#header
      ul.left
        li.home
          a(href='/', title='Go to the front page of StudyNotes') Study Notes
        li.search
          input(autocorrect='off', autocomplete='off', type='text', placeholder='Search...')
      ul.right
        each item, cls in locals.topnav
          if cls != 'home'
            li: a(href='#{item.url}', class='#{cls} #{locals.cls == cls ? 'current' : ''}')= item.shortname
    nav#browse
      ul
        each course in locals.courses
          li
            h2: a(href='/ap-notes/#{course.slug}')= course.name
            ul
              each notetype in course.notetypes
                li: a(href='/ap-notes/#{course.slug}/#{notetype.slug}')= notetype.name
      ul
        li: a(href='#') Link
        li: a(href='#') Link
        li: a(href='#') Link
        li: a(href='#') Link
        li: a(href='#') Link
        li: a(href='#') Link
        li: a(href='#') Link

    #content
      block content

  //- nav
  //-   ul#topnav.network
  //-     li#logo.home
  //-       a(href='/', title='Jump to the front page of Study Notes')
  //-         img(src='/images/logo.png', alt="Study Notes")
  //-     each item, cls in locals.topnav
  //-       if cls != 'index'
  //-         li: a(href='#{item.url}', class='#{cls} #{locals.cls == cls ? 'current' : ''}')= item.shortname

  #container-outer
    #container-inner.clearfix
      nav




  //- aside#sidebar
  //-   include sidebar

  //- footer#footer
  //-   include footer
  
  //- Scripts
  if (locals.env == "development")
    script(src='/javascripts/libs/jquery-1.8.2.js')
  else
    script(src='/javascripts/libs/jquery-1.8.2.min.js')

  script(src='/javascripts/client.js')

  if (locals.env == "development")
    script
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  //- TODO: add https://github.com/scottjehl/Respond/

  //- TODO: add google analytics here
  //- script
  //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  //-   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  //-   s.parentNode.insertBefore(g,s)}(document,'script')); 
        
  //- TODO: add other tracking here

</html>