!!! 5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

head
  include head

body(class='{locals.cls}')

  nav
    ul#topnav.network
      li#logo.home
        a(href='/', title='Jump to the front page of Study Notes')
          img(src='/images/logo.png', alt="Study Notes")
      each item, cls in locals.topnav
        if cls != 'index'
          li: a(href='#{item.url}', class='#{cls} #{locals.cls == cls ? 'current' : ''}')= item.shortname
    
    //- TODO: add social media links
    //- ul.channels
    //-   li.rss: a(href='#', title='Subscribe to our RSS feed') RSS
    //-   li.facebook: a(href='http://www.facebook.com/StudyNotesApp', title='Like us on Facebook!') Facebook
    //-   li.twitter: a(href='http://twitter.com/StudyNotesApp', title='Follow us on Twitter!') Twitter
    //-   li.newsletter: a(href='http://www.smashingmagazine.com/the-smashing-newsletter/', title='Subscribe to our Email Newsletter (107K)') Newsletter

  #container-outer
    #container-inner.clearfix
      nav
        ul#nav
          each course in locals.courses
            li
              a(href='/ap-notes/#{course.slug}')= course.name
              ul
                each notetype in course.notetypes
                  li: a(href='/ap-notes/#{course.slug}/#{notetype.slug}')= notetype.name

      #content
        block content

  aside#sidebar
    include sidebar

  footer#footer
    include footer
  
  //- Scripts
  script(src='/javascripts/libs/jquery-1.8.2.js')
  script(src='/javascripts/client.js')

  - if (env == "development")
    script
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  //- TODO: add https://github.com/scottjehl/Respond/

  //- TODO: add google analytics here
  //- script
  //-   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  //-   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  //-   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  //-   s.parentNode.insertBefore(g,s)}(document,'script')); 
        
  //- TODO: add other tracking here

</html>