extends layout

block content
  include includes/breadcrumbs
  h1= locals.note.name
  | !{note.body}

  .noteNav.clearfix
    if notePrev
      a.prev(href='#{notePrev.url}')
        .prevArrow &#9664;
        span Previous: #{notePrev.name}

    if noteNext
      a.next(href='#{noteNext.url}')
        span Next: #{noteNext.name}
        .nextArrow &#9654;

  include ads/amazon

append sidebar
  include includes/noteInfo
  include includes/relatedNotes