extends layout

block content
  include includes/breadcrumbs
  h1= locals.title
  p !{note.body}

  p.noteNav
    if notePrev
      a.prev(href='#{notePrev.slug}') Previous: #{notePrev.name}
    if noteNext
      a.next(href='#{noteNext.slug}') Next: #{noteNext.name}

append sidebar
  if locals.relatedNotes
    include includes/relatedNotes