extends layout

block content
  include includes/breadcrumbs
  h1= locals.note.name
  | !{note.body}

  p.noteNav
    if notePrev
      a.prev(href='#{notePrev.slug}') Previous: #{notePrev.name}
    if noteNext
      a.next(href='#{noteNext.slug}') Next: #{noteNext.name}

  include ads/amazon

append sidebar
  include includes/noteInfo
  include includes/relatedNotes